{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department of ICT & Training</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/dept_ict_training.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>

{% include 'partials/navbar.html' %}

<body>
    

    <header class="header-section">
        <div class="container">
            <h1>DEPARTMENT OF ICT & <br>TRAINING</h1>
            {% comment %} <nav>
                <a href="#" class="home-link">Home</a>
            </nav> {% endcomment %}
        </div>
    </header>

    <main>
        <section class="ict-training-intro">
            <div class="container">
                <h2>Department of ICT & Training</h2>
                <div class="content-wrapper">
                    <div class="text-content">
                        <p>Welcome to the Department of Information and Communication Technologies, CIET. Constituent broadly works for:</p>
                        <ul>
                            <li>Creation of multimedia materials for students and teachers</li>
                            <li>Imparting training on Use of ICTs in teaching-learning process and Research Methodology for ICTs in Education etc. for teachers and teacher-educators i.e. schools, DIETs, CTEs, IASES, SIETs, SCERTs/SIEs, faculty from Education Departments of Indian Universities.</li>
                            <li>Faculty training on ICTs in Education including Web 2.0 Tools, Wiki/WikiEducator, MacLab and Robotino. Development and Use of Open Source Materials etc.</li>
                            <li>Innovations in ICTs in Education.</li>
                            <li>Dissemination and extension of ICT resources among schools, students and teachers in every nook and corner of the country is the motto of the Division.</li>
                            <li>Continuous updating and maintenance of CIET website.</li>
                        </ul>
                    </div>
                    <div class="head-message">
                        <img src="{% static "images/DrInduKumar_academic.jpg" %}" alt="Head of Department">
                        <div class="message-box">
                            <h3>FORM THE DESK OF THE HEAD</h3>
                            <p>"AS THE HEAD OF THE DEPARTMENT OF INFORMATION AND COMMUNICATION TECHNOLOGY AND TRAINING DIVISION IDIC."</p>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="navigation-buttons">
            <div class="container">
                <button class="nav-button" onclick="showContent('training')">TRAINING</button>
                <button class="nav-button" onclick="showContent('archive')">ARCHIVE</button>
                <button class="nav-button" onclick="showContent('reports')">REPORTS OF TRAINING PROGRAMMES</button>
            </div>
        </section>

        <section id="training-content" class="training-content">
            <div class="container">
                <p>The division looks after the training activities of CIET. The broad activities taken up by CIET under the umbrella of training includes:</p>
                <ul>
                    <li>The training/orientation with special focus on designing of media scripts, production of TV, Radio and Multimedia programme, editing, communication and media research, designing ICT in education and learning and use of computer Graphics, puppets, Moppets, Low Cost Teaching Learning Materials etc.</li>
                    <li>Training on recent ICT initiatives, Web 2.0 tools, Wiki Educator and various web applications.</li>
                    <li>Training on technical operations including setting up of studios, installation and operation of studio equipment, repair and maintenance of equipments etc.</li>
                    <li>CIET undertake such training programme for the stake holders from various schools, SIETs, DIETs, SCERTs/SIEs, CTEs, NCERT faculty, DMS, RIE teachers etc.</li>
                    <li>Attachment training programme for students of various Universities and national institutes as part of their internship project.</li>
                    <li>Organizing training programme through face-to-face and distance mode (using satellite network and web technology).</li>
                    <li>Concerned in conducting assessment of training needs, development of training materials and follow up studies.</li>
                    <li>Training programme for capacity building in various aspects of educational technology ICT for teachers and teacher educators of the country.</li>
                </ul>
            </div>
        </section>

        <section id="archive-content" class="archive-content" style="display: none;">
            <div class="container">
                <ul><p>Training Programmes 2008-2009</p>

                    <li> Training of CIET, NIE and RIEs academic faculty on video and audio script writing</li>
                    <li> Orientation of Academic Faculty of NCERT, SIETs, DIETs on action research in Educational Technology</li>
                    <li>  Orientation of Teachers on various aspects of educational technology and other content areas through EDUSAT teleconferencing</li>
                    <li>  Training of NCERT faculty in planning and managing video conference using EDUSAT network and development of manual</li>
                    <li> Training cum Development Workshop in developing graded learning material in science and mathematics at upper primary stage</li>
                    <li> Technical Training on EDUSAT (NCERT Network)</li>
                    <li>  Training on Puppets for School Teachers</li><br>
                    
                    <p>Training Programmes 2009-2010</p>
                    
                    <li>  Re-orientation Programmes for CIET and SIET Video Production Team</li>
                    <li>  Orientation of teachers and teacher educators through EDUSAT teleconferencing on various aspects of     Educational Technology and content Areas</li>
                    <li>  Orientation of academic faculty of Universities and DIETs/SCERTs on Action  Research in Educational     Technology</li>
                    <li>  Orientation of teacher educators on Research Methodology in ICT through EDUSAT network</li>
                    <li>  Capacity Building of CIET and SIETs Technical Staff</li>
                    <li>  Technical Training/ Workshop on EDUSAT-NCERT Network</li>
                    <li>  Training Programme on Puppet in Education for DMS teachers of RIEs through EDUSAT</li>
                    <li>  Training Workshop on Instructional Design for Computer aided Learning</li>
                    <li>  Training cum Development Workshop on Creating Collaborative Lesson plans for Multi-Point Technology</li>
                    <li>  Teacher Training Through Mobile Technology</li><br>
                    
                    
                    <p>Training Programmes 2010-2011</p>
                    
                    <li>  Training of teachers in media studies</li>
                    <li>  Orientation of teachers and teacher educators through EDUSAT teleconferencing on various aspects of educational technology and different content areas</li>
                    <li>  Training (teachers, teacher educators, subject matter experts) in script writing for educational audio and video programmes through video conferencing (EDUSAT/INSAT)</li>
                    <li>  Workshop-cum-training programme on video production for M.Ed. students in RIEs (Ajmer, Bhopal, Mysore and Bhubaneshwar)</li>
                    <li>  Training of mentor-coordinators and mentors in the use of ICT for teaching learning process in schools</li>
                    <li>  Promoting visual communication and creative expression among children</li>
                    <li>  Professional Development of CIET and NIE faculty in ICT</li>
                    
                </ul>
            </div>
        </section>

        <section id="reports-content" class="reports-content" style="display: none;">
            <div class="container">
               <ul>
                <p> Workshop on Web 2.0 Tools (Phase-I)</p><br>
                Training Division of CIET has organized Faculty development programme under which a workshop on Web 2.0 tools was organsied on 25 and 26 June, 2009 for CIET Faculty. Ten faculty members (Dr. Amarendra Behra, Dr. Rajput, Dr. Pal, Dr. Jitendra Singh, Dr. Purushottam Kumar, Dr. Anubhuti Yadav,  Mr. Rajesh Nimesh, Dr. Indu Kumar, Dr. Ranjan Biswas and Dr. Anjula Sagar,). Prof. Vasudha Kamat, Joint Director, CIET conducted this workshop as a resource person. Web 2.0 tools such as Blog, Group (Yahoo or Google), Google Documents, Picasa and Educational network sites like Curriki were introduced to the participants with adequate hands on facilities. Every participant created their own Blog and Group and explored the facilities. They also created a word document which was shared with all others as contributors. The participants found these tools very useful for academic venture and professional development.<br><br>
                <li>Workshop on WikiEducator</li><br>
                Training Division of CIET has organized Faculty development programme under which a workshop on WikiEducator was organsied from 29 June to July 1, 2009 for CIET Faculty. Nine faculty members (Dr. Amarendra Behra, Dr. Rajput, Dr. Pal, Dr. Jitendra Singh, Dr. Anubhuti Yadav,  Mr. Rajesh Nimesh, Dr. Indu Kumar, Dr. Ranjan Biswas and Dr. Anjula Sagar,). Prof. Savitri Singh, Principal, Acharya Narendra Dev College, University of Delhi and her three colleagues (Dr. Sarita Kumar, Dr. Ravi Toteja and Dr. Neeti Mishra) conducted this workshop as a resource person. During the three days programme the participants were helped to create an account in www.wikieducator.org, create user page, edit and format text, create an internal link, upload images, create Image Gallery, access history and use for revert back, use of discussion and talk feature, make tables etc.
                The participants enjoyed hands on and created their own accounts.<br><br>
                <li>Workshop on Web 2.0 Tools: Phase-II</li><br>
                Phase-II workshop was organised for NIE faculty on 6, 7 and 10 July, 2009. Nine faculty members (Prof. Santosh Sharma, Dr. G. C. Uppadhaya, Dr. Madhulika Patel, Dr. Saroj Pandey,  Dr.Varda M. Nikalje, Dr. C. V. Shimray, Dr. Sunita Varte, Dr. R. R.Koireng, Dr. Kavita Sharma) attended the programme. Prof. Vasudha Kamat, Joint Director, CIET conducted this workshop as a resource person.<br><br>
                <li>Workshop on Web 2.0 Tools (Phase-III and IV)</li><br>
                Two more workshops are being organized in July for NIE Faculty.<br><br>
                <li>Workshop on WikiEducator</li><br>
                The second workshop on WikiEducator for NIE faculty is being planned in the last week of July, 2009<br><br>
                <li>Story Telling and Enacting by School Children of IV –VI Classes</li><br>
                Workshop with the children of classes IV-VI was organized with NCERT campus students. Mrs. Surekha Panandikar, a well known literary personality conducted this workshop on 4th June, 2009. Ten children from NCERT campus attended the programme. They selected the story, read it and enacted before all other children. It was an exciting experience for children. It is being planned to video record these sessions and disseminate them among the language teachers.<br><br>
                <a href="#" class="sub dept">Training Report of ICT 2014</a><br>
                <a href="#" class="sub dept">Training Report of NROER 2014</a>


               </ul>
                
            </div>
        </section>

        <section class="our-staff">
            <div class="container">
                <h2>OUR STAFF</h2>
                <div class="staff-grid">
                    <div class="staff-member">
                        <img src="{% static "images/DrInduKumar_academic.jpg" %}" alt="Dr. Indu Kumar">
                        <p><strong>Dr. Indu Kumar</strong></p>
                        <p>Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (231)</p>
                        <a href="{% static "pdfs/dept_pdfs/ProfIndu Kumar.pdf" %}" target="_blank" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="{% static "images/RajeshD.jpeg" %}" alt="Dr. Rajesh D">
                        <p><strong>Dr. Rajesh D</strong></p>
                        <p>Associate Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (217)</p>
                        <a href="{% static "pdfs/dept_pdfs/CV-RajeshD.pdf" %}" target="_blank" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="{% static "images/PraveenBobbyBinjha.jpg" %}" alt="Dr. Praveen Bobby Binjha">
                        <p><strong>Dr. Praveen Bobby Binjha</strong></p>
                        <p>Associate Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (317)</p>
                        <a href="{% static "pdfs/dept_pdfs/CV_DrPraveenBobbyBinjha.pdf" %}" target="_blank" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="{% static "images/DrAmitRanjan.jpg" %}" alt="Dr. Amit Ranjan">
                        <p><strong>Dr. Amit Ranjan</strong></p>
                        <p>Assistant Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (222)</p>
                        <a href="{% static "pdfs/dept_pdfs/DrAmitBiodata.pdf" %}" target="_blank" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="{% static "images/RejaulKarimBarbhuiya.jpg" %}" alt="Dr. Rejaul Karim Barbhuiya">
                        <p><strong>Dr. Rejaul Karim Barbhuiya</strong></p>
                        <p>Assistant Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (236)</p>
                        <a href="{% static "pdfs/dept_pdfs/biodata-Rejaul.pdf" %}" target="_blank" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="{% static "images/DrAngelRathnabaiS_academic.jpg" %}" alt="Dr. Angel Rathnabai S">
                        <p><strong>Dr. Angel Rathnabai S</strong></p>
                        <p>Assistant Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (247)</p>
                        <a href="{% static "pdfs/dept_pdfs/DrAngel_Profile.pdf" %}" target="_blank" class="view-profile-button">View Profile</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="gallery">
            <div class="container">
                <h2>GALLERY</h2>
                <div class="gallery-grid">
                    <img src="{% static "images/dept1.jpeg" %}" alt="Gallery Image 1">
                    <img src="{% static "images/dept2.jpeg" %}" alt="Gallery Image 2">
                    <img src="{% static "images/dept3.jpeg" %}" alt="Gallery Image 3">
                    <img src="{% static "images/dept4.jpeg" %}" alt="Gallery Image 4">
                    <img src="{% static "images/dept5.jpeg" %}" alt="Gallery Image 5">
                    <img src="{% static "images/dept6.jpeg" %}" alt="Gallery Image 6">
                    <img src="{% static "images/dept7.jpeg" %}" alt="Gallery Image 7">
                    
                </div>
            </div>
        </section>
    </main>

    {% include 'partials/footer.html' %}

    <script>
        function showContent(section) {
            const sections = ['training', 'archive', 'reports'];
            sections.forEach(s => {
                const content = document.getElementById(`${s}-content`);
                if (content) {
                    content.style.display = s === section ? 'block' : 'none';
                }
            });
        }
    </script>
</body>
</html>