/* body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
} */

.container {
    padding: 20px 20px; /* Matches the spacing between text and screen edges */
    text-align: left; /* Aligns text to the left as in the original */
    line-height: 1.6;
}

.about_heading {
    color: #ff0000; 
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px; 
}

.about_p {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px; 
}
.about_ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-top: 5px; 
    margin-bottom: 15px; 
}

.about_li {
    font-size: 16px;
    color: #333;
    margin-bottom: 2px; 
}