{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers Support Material on Inclusive Education</title>
    <link rel="stylesheet" href="{% static 'css/teachers_support.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    {% include "partials/navbar.html" %}

    <div class="container">
        <div class="header">
            <h1>Teachers support material on Inclusive Education</h1>
        </div>
        <div class="content">
            <p>The handbooks for teachers on Inclusive Education provide exemplary guidelines for meeting the special needs of children in an inclusive classroom. Successful inclusion practices highlight the significance of not only the presence of children in the class but also the quality of their achievement across the curriculum. The handbooks manuals and guidelines provide handholding for the teachers and guides them and other stakeholders towards future action.</p>
            <div class="resource-section">
                <a href="https://ncert.nic.in/pdf/publication/otherpublications/SpecialNeeds.pdf"><img src="{% static 'images/first (1).png' %}" alt="Primary Stage"></a>
                <a href="https://n20.ncert.org.in/pdf/publication/otherpublications/tiicsnups101.pdf"><img src="{% static 'images/second (1).png' %}" alt="Upper Primary Stage"></a>
                <a href="https://ncert.nic.in/pdf/publication/otherpublications/COVER.pdf"><img src="{% static 'images/third (1).png' %}" alt="Manual on Meeting Needs in Schools"></a>
                <a href="https://ncert.nic.in/pdf/announcement/Inclusion_in_Eduction.pdf"><img src="{% static 'images/forth (1).png' %}" alt="Manual on Inclusion in Education"></a>
                <a href="https://dsel.education.gov.in/sites/default/files/2021-06/CWSN_E-Content_guidelines.pdf"><img src="{% static 'images/fifth (1).png' %}" alt="Guidelines for Development of Content for Children with Disabilities"></a>
                <a href="https://www.ncert.nic.in/degsn/pdf/spl_edu_degsn.pdf"><img src="{% static 'images/icon (1).png' %}" alt="Progressive Guidelines for Inclusive Curriculum B.Ed./B.P.Ed"></a>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

</body>
</html>