{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of PAB Approved Proposals</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/pab_projects.css" %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>

    {% include "partials/navbar.html" %}

    <div class="container">
        <h1>List of PAB approved proposals funded by DSE&L; MOC (2024-25)</h1>
        
        <div class="table-header">
            <span class="col1">PAB code</span>
            <span class="col2">Title of the Programme</span>
            <span class="col3">Category</span>
            <span class="col4">Programme Coordinator(s)</span>

        </div>
        <h2>PAB approved proposal funded by DSE&L;, MOE</h2>

        <div class="table-row">
            <span class="col1">20.08</span>
            <span class="col2">PM eVidya Management of 200 DTH TV channels and Radio Broadcasts and Podcast</span>
            <span class="col3">On-going</span>
            <span class="col4">Dr. Abhay Kumar<br>Prof. Gaurav Singh</span>
        </div>

        <div class="table-row">
            <span class="col1">20.09</span>
            <span class="col2">PM eVidya DIKSHA - One Nation One Platform</span>
            <span class="col3">On-going</span>
            <span class="col4">Dr. Indu Kumar<br>Dr. Rejaul K. Barbhuiya<br>Dr. Rajesh D</span>
        </div>

        <div class="table-row">
            <span class="col1">20.10</span>
            <span class="col2">PM eVidya Development of Curriculum Based AR/VR and Virtual labs</span>
            <span class="col3">On-going</span>
            <span class="col4">Prof. Indu Kumar<br>Dr. Praveen B. Binjha Dr. Pranita Gopal</span>
        </div>

        <div class="table-row">
            <span class="col1">20.11</span>
            <span class="col2">PM eVidya Organization of eContent Competition for creation of quality digital contents</span>
            <span class="col3">On-going</span>
            <span class="col4">Dr. Abhay Kumar<br>Dr. R. K. Nimesh</span>
        </div>

        <div class="table-row">
            <span class="col1">20.12</span>
            <span class="col2">NCF - Technology Platform</span>
            <span class="col3">On-going</span>
            <span class="col4">Dr. Rejaul K. Barbhuiya</span>
        </div>

        <div class="table-row">
            <span class="col1">20.13</span>
            <span class="col2">Development of Digital textbooks based on Universal Design of Learning (UDL) "Kitaab ek, Padhe Anek"</span>
            <span class="col3">On-going</span>
            <span class="col4">Dr. Bharti Kaushik</span>
        </div>

        <div class="table-row">
            <span class="col1">20.14</span>
            <span class="col2">PM e-Vidya Continuous Professional Development (CPD) through NISHTHA- Educational Technology</span>
            <span class="col3">On-going</span>
            <span class="col4">Dr. Angel Rathnabai</span>
        </div>

        <div class="table-row">
            <span class="col1">20.15</span>
            <span class="col2">Capacity Building for Transforming Teachers into Digital Teachers</span>
            <span class="col3">New</span>
            <span class="col4">Coordinator: Dr. Angel Ratnabai</span>
        </div>

       

        <div class="table-row">
            <span class="col1">20.16</span>
            <span class="col2">Translation of NCERT contents in 22 languages</span>
            <span class="col3">New</span>
            <span class="col4">Prof. Rajendra Kumar<br>Dr. Ravindra Kumar<br>Dr. Rizvanul Haque</span>
        </div>

        <div class="table-row">
            <span class="col1">20.17</span>
            <span class="col2">Development and Maintenance of Websites, Mobile Apps and Other Digital Activities</span>
            <span class="col3">New</span>
            <span class="col4">Prof. Indu Kumar<br>Dr. Rajesh D<br>Dr. Jagan Mohan Rao<br>Dr. Pranita Gopal</span>
        </div>

        <h2>PAB approved proposal funded by DHE, MOE</h2>

        <div class="table-row">
            <span class="col1">20.18</span>
            <span class="col2">Development of MOOCs for ITEP on SWAYAM Platform</span>
            <span class="col3">New</span>
            <span class="col4">Prof. Shreesh Pal Singh<br>Dr. Angel Ratnabai</span>
        </div>

        <div class="table-row">
            <span class="col1">20.19</span>
            <span class="col2">Development of SWAYAM MOOCs on School Education</span>
            <span class="col3">New</span>
            <span class="col4">Dr. Angel Ratnabai</span>
        </div>
        <ul class="footer-list">
            
            <li><a href="{% static "pdfs/dept_pdfs/pab.pdf" %}" target="_blank" class="program-links">PAB Program 2023-2024</a></li>
            <li><a href="{% static "pdfs/dept_pdfs/pab_2022-23.pdf" %}" target="_blank" class="program-links">PAB Program 2022-2023</a></li>
            <li><a href="{% static "pdfs/dept_pdfs/Final_at_a_glance_2021-22 PAB.pdf" %}" target="_blank" class="program-links">PAB Program 2021-2022</a></li>
            
        </ul>
    </div>

    {% include "partials/footer.html" %}

</body>
</html>