{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletters</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/newsletter.css" %}">

</head>
<body>
    {% include "partials/navbar.html" %}

    <div class="container">
        <h1>Newsletters</h1>
        <div class="guidelines">
            <p>Volume VI, Issue 3, 1 July- 30 September 2022</p>
            <p>Volume VI, Issue 2, 1 April- 30 June 2022</p>
            <p>Volume VI, Issue 1, 1 January- 31 March 2022</p>
            <p>Volume V, Issue 4, 1 October - 31 December 2021</p>
            <p>Volume V, Issue 3, 1 July - 30 September 2021</p>
            <p>Volume V, Issue 2, 1 April - 30 June 2021</p>
            <p>Volume V, Issue 1, 1 January - 31 March 2021</p>
            <p>Volume IV, Issue 4, 1 October- 31 December 2020</p>
            <p>Volume IV, Issue 2, 1 July- 30 September 2020</p>
            <p>Volume IV, Issue 2, 1 April- 30 June 2020</p>
            <p>Volume IV, Issue 1, 1 January- 31 March 2020</p>
            <p>Volume III, Issue 4, 1 October- 31 December 2019</p>
            <p>Volume III, Issue 3, 1 July- 30 September 2019</p>
            <p>Volume III, Issue 2, 1 April- 30 June 2019</p>
           
            
        </div>   
    </div>
    {% include "partials/footer.html" %}
   
</body>
</html>