{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department of ICT & Training</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/dept_ict_training.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>

{% include 'partials/navbar.html' %}

<body>
    <header class="header-section">
        <div class="container">
            <h1>MEDIA PRODUCTION  <br>DIVISION</h1>
            {% comment %} <nav>
                <a href="#" class="home-link">Home</a>
            </nav> {% endcomment %}
        </div>
    </header>

    <main>
        <section class="ict-training-intro">
            <div class="container">
                <h2>Media Production Division</h2>
                <div class="content-wrapper">
                    <div class="text-content">
                        <p>The Division specially meant for producing media in the form of Audio, Video in single-medium or multimediafeature film, television show or series, video, commercial, photographic project, interactive computer or video game or other programintended for a nationalaudience and fixed on film, video tape, computer disk, laserdisc or other delivery medium that can be viewed or reproduced keeping in mind the contents available for school students.</p>
                        
                    </div>
                    <div class="head-message">
                        <img src="head_image.png" alt="Head of Department">
                        <div class="message-box">
                            <h3>FORM THE DESK OF THE HEAD</h3>
                            <p>""Welcome To The Media Production Division (MPD), CIET. This Division Is Responsible For The Productio...""</p>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="navigation-buttons">
            <div class="container">
                <button class="nav-button">AUDIO PRODUCTION</button>
                <button class="nav-button">VIDEO PRODUCTION</button>
                
            </div>
        </section>

        <section class="our-staff">
            <div class="container">
                <h2>OUR STAFF</h2>
                <div class="staff-grid">
                    <div class="staff-member">
                        <img src="dr_indu_kumar.png" alt="Dr. Rajendra Pal">
                        <p><strong>Dr. Rajendra Pal</strong></p>
                        <p>Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (240)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="dr_bharti.png" alt="Dr. Gaurav Singh">
                        <p><strong>Dr. Gaurav Singh</strong></p>
                        <p>Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (214)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="dr_rejaul_karim_barbhuniya.png" alt="Dr. Bharti">
                        <p><strong>Dr. Bharti</strong></p>
                        <p>Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (217)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    
                    <div class="staff-member">
                        <img src="dr_indu_kumar.png" alt="Dr. Rajesh Kr. Nimesh">
                        <p><strong>Dr. Rajesh Kr. Nimesh</strong></p>
                        <p>Associate Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (152)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="dr_indu_kumar.png" alt="Dr. Ravindra Kumar">
                        <p><strong>Dr. Ravindra Kumar</strong></p>
                        <p>Associate Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (221)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="dr_indu_kumar.png" alt="Dr. Rizvanul Haque">
                        <p><strong>Dr. Rizvanul Haque</strong></p>
                        <p>Assistant Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (326)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="dr_indu_kumar.png" alt="Dr. Pranita Gopal">
                        <p><strong>Dr. Pranita Gopal</strong></p>
                        <p>Assistant Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (227)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="dr_indu_kumar.png" alt="Dr. Jaganmohana Rao Gurugubelli">
                        <p><strong>Dr. Jaganmohana Rao Gurugubelli</strong></p>
                        <p>Assistant Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (245)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="dr_indu_kumar.png" alt="Dr. Jipsy Malhotra">
                        <p><strong>Dr. Jipsy Malhotra</strong></p>
                        <p>Assistant Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (230)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="dr_indu_kumar.png" alt="Dr. Ruchi Dwivedi">
                        <p><strong>Dr. Ruchi Dwivedi</strong></p>
                        <p>Assistant Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (-)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                    </div>
                    <div class="staff-member">
                        <img src="dr_angel_rathnabai_s.png" alt="Dr. Ravi Nautiyal">
                        <p><strong>Dr. Ravi Nautiyal</strong></p>
                        <p>Assistant Professor</p>
                        <p>Extn. Number</p>
                        <p>+91-11-26864801-10 (-)</p>
                        <a href="#" class="view-profile-button">View Profile</a>
                </div>
            </div>
        </section>

        <section class="gallery">
            <div class="container">
                <h2>GALLERY</h2>
                <div class="gallery-grid">
                    <img src="gallery_1.jpg" alt="Gallery Image 1">
                    <img src="gallery_2.jpg" alt="Gallery Image 2">
                    <img src="gallery_3.jpg" alt="Gallery Image 3">
                    <img src="gallery_4.jpg" alt="Gallery Image 4">
                    <img src="gallery_5.jpg" alt="Gallery Image 5">
                    <img src="gallery_6.jpg" alt="Gallery Image 6">
                    <img src="gallery_7.jpg" alt="Gallery Image 7">
                    <div class="placeholder-box"></div>
                    <div class="placeholder-box"></div>
                    <div class="placeholder-box"></div>
                    </div>
            </div>
        </section>
    </main>

    {% include 'partials/footer.html' %}
    
</body>
</html>