{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teaching Learning Resources in Indian Sign Language</title>
    <link rel="stylesheet" href="{% static 'css/special_econtent.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    {% include "partials/navbar.html" %}

    <div class="container">
        <div class="header">
            <h1>Teaching Learning Resources in Indian Sign Language</h1>
        </div>
        <div class="content">
            <p>This initiative realizes and promotes inclusion of students with HI in mainstream education. Following the principles of UDL following resources are developed in ISL. Aiming to create opportunities for students from all sections of society, a key component of CIET NCERT's efforts towards accessible education is developing inclusivity for special needs students. As a part of the efforts to build UDL based learning systems that advocate sensitivity and awareness for this section of the society ISL based Teaching learning resources have been developed for hearing impaired students. With new content being created every single day a variety of options are developed that are compatible with the skills available to these students.</p>
            <div class="resource-section">
                <div class="video-item">
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/SOA-of8wkTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>Launch video of Class I to V Textbooks in Indian Sign Language</p>
                </div>
                <div class="image-item">
                    <img src="{% static 'images/sign lan.jpg' %}" alt="ISL Dictionary (PDF/Flipbook)">
                    <p>ISL Dictionary <a href="https://ncert.nic.in/pdf/accessibility/ISL_200word_v15.pdf">(PDF /</a><a href="https://ncert.nic.in/ComicFlipBookEnglish/isl_dictionary/mobile/index.html"> Flipbook)</a></p>
                </div>
            </div>
            <div class="video-grid">
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/Zx-nM8lJxaU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>CH 1 EP 02</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/pFTTMNKPkh4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>Video unavailable</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/kZUEovh84KE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>Fabric</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/26-qWGtXyWo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>I have a dream with subtitle</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/E6MveN6GlUk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>Jantav raishe and Jantu raishe...</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/aaxEB4fRGdg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>Natural indicators</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/G4LtN4ZoYH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>Video unavailable</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/u4O89TqFUzY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>TANTU FINAL</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/C5kcsvEPcb0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>Tropical Rain Forest special...</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/TczB6AbECPg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>CH 1 EP 01</p>
                </div>
                <div class="video-item-small">
                    <iframe width="100%" height="180" src="https://www.youtube.com/embed/MFO3SbQCURs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-ruffle-polyfilled=""></iframe>
                    <p>ACID and BASE</p>
                </div>
            </div>
        </div>
    </div>

    {% include "partials/footer.html" %}

</body>
</html>