.event-header {
    background: linear-gradient(to right, #4a4a4a, #8b4513);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
  }
  
  .event-header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
  }
/*   
  .nav-link {
    color: #ff4500;
    text-decoration: none;
    font-size: 0.9em;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  } */
  
  .event-content {
    text-align: center;
    padding: 50px 0;
  }
  
  .event-map-image {
    width: 200px;
    height: auto;
    border: none;
  }

  @media (max-width: 768px) {
  .event-header h1 {
    font-size: 1.5em;
  }

  .event-content {
    padding: 30px 0;
  }

  .event-map-image {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .event-header h1 {
    font-size: 1.2em;
  }

  .event-content {
    padding: 20px 0;
  }

  .event-map-image {
    width: 120px;
  }
}
