{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Announcements</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
  </head>
  <body>
    {% include "partials/navbar.html" %}
    <section class="announcements-section">
      <div class="filter-buttons">
        <button class="filter-btn active" data-category="all">ALL</button>
        <button class="filter-btn" data-category="vacancies">VACANCIES</button>
        <button class="filter-btn" data-category="notices">NOTICES</button>
        <button class="filter-btn" data-category="miscellaneous">
          MISCELLANEOUS
        </button>
      </div>

      <div class="announcement-content-box">
        <p class="no-announcement-message">No Announcement Found..</p>
      </div>
    </section>
    {% include "partials/footer.html" %}

    <script src="{% static "js/script.js" %}">
       document.addEventListener("DOMContentLoaded", () => {
  const filterButtons = document.querySelectorAll(".filter-btn");
  const announcementContentBox = document.querySelector(
    ".announcement-content-box"
  );
  const noAnnouncementMessage = document.querySelector(
    ".no-announcement-message"
  );

  const announcementsData = {
    all: "No Announcement Found..",
    vacancies: "Currently no vacancies available.",
    notices: "No new notices at this time.",
    miscellaneous: "No miscellaneous announcements to display.",
  };

  filterButtons.forEach((button) => {
    button.addEventListener("click", () => {
      filterButtons.forEach((btn) => btn.classList.remove("active"));
      button.classList.add("active");
      const category = button.dataset.category;
      updateAnnouncementContent(category);
    });
  });

  function updateAnnouncementContent(category) {
    if (announcementsData[category]) {
      noAnnouncementMessage.innerHTML = announcementsData[category];
    } else {
      noAnnouncementMessage.innerHTML =
        "Content not available for this category.";
    }
  }
  updateAnnouncementContent("all");
});
    </script>
  </body>
</html>
