{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalouge</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/catalogue.css" %}">

</head>
<body>
    {% include "partials/navbar.html" %}

    <div class="container">
        <h1>Catalouge</h1>
        <div class="guidelines">
            <p>CIET Catalogue 2018</p>
            <p>CIET Catalogue 2014</p>
        </div>
        
    </div>
    {% include "partials/footer.html" %}
</body>
</html>