{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conference</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/counselling_services.css" %}">
</head>
<body>

    {% include "partials/navbar.html" %}

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counselling</title>
    <link rel="stylesheet" href="styles.css">
</head>
<div class="counseling-container">
    <p class="counseling-text">
      The novel corona virus (COVID-19) pandemic is a situation that is affecting children physically as well as psychologically. The pandemic has caused strong feelings such as sadness, fear, anxiety, helplessness, uncertainty, loss of interest and hopelessness. To provide support and address mental health concerns of children during and after COVID-19, NCERT announces <strong>Counselling Services for School Students</strong> through its trained counsellors. Students wishing to seek guidance can get in touch with counsellors on whatsapp, mobile number and email address provided in region-wise lists on the website.
    </p>
    <p class="free-service">
      Counselling services will be provided free of charge
    </p>
    <div class="region-wise-box">
      <span class="region-wise-text">Region Wise Counsellor List</span>
    </div>
  </div>

    {% include "partials/footer.html" %}

</body>
</html>