{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIET - PAC/IAB</title>
    <link rel="stylesheet" href="{% static 'css/advisory_board.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    {% include 'partials/navbar.html' %}

    <div class="container">
        <h1 class="advisory_h1">PAC NCERT</h1>
        <p class="advisory_p">
            <a href="{% static "pdfs/Advisory_Board_pdfs/IAB.pdf" %}" class="link">Re-Constitution of the Institute Advisory Board (IABs) of CIET, New Delhi; PSSCIVE, Bhopal; and Regional Institutes of Education at Ajmer, Bhopal, Bhubaneswar, Mysore NERIE, Umiam(Shillong).</a>
        </p>

        <h1 class="advisory_h1">IAB (CIET)</h1>
        <p class="advisory_p">
            <a href="{% static "pdfs/Advisory_Board_pdfs/IAB_board.pdf" %}" class="link">Constitution of the Institute Advisory Board (IABs) of CIET, New Delhi; PSSCIVE, Bhopal; and Regional Institutes of Education at Ajmer, Bhopal, Bhubaneswar, Mysore, and NERIE, Umiam(Shillong)</a>
        </p>

        <h1 class="advisory_h1">Schedule of Meetings</h1>
        <table class="advisory_table">
            <thead>
                <tr>
                    <th class="advisory_th">Name of Meeting</th>
                    <th class="advisory_th">Date</th>
                    <th class="advisory_th">Time</th>
                    <th class="advisory_th">Venue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="advisory_th"><a href="{% static "pdfs/Advisory_Board_pdfs/Minutes33IAB.pdf" %}" class="link-orange">33rd Meeting of IAB</a></td>
                    <td class="advisory_th">15-01-2017</td>
                    <td class="advisory_th">11:00 AM</td>
                    <td class="advisory_th">Room No. 227, CIET</td>
                </tr>
                <tr>
                    <td class="advisory_th"><a href="{% static "pdfs/Advisory_Board_pdfs/32IAB.pdf" %}" class="link-orange">32nd Meeting of IAB</a></td>
                    <td class="advisory_th">16-12-2015</td>
                    <td class="advisory_th">11:00 AM</td>
                    <td class="advisory_th">Room No. 229, CIET</td>
                </tr>
                <tr>
                    <td class="advisory_th">31st Meeting of IAB</td>
                    <td class="advisory_th">19-01-2015</td>
                    <td class="advisory_th">11:00 AM</td>
                    <td class="advisory_th">Room No. 207, CIET</td>
                </tr>
                <tr>
                    <td class="advisory_th">30th Meeting of IAB</td>
                    <td class="advisory_th">02-01-2014</td>
                    <td class="advisory_th">10:00 AM</td>
                    <td class="advisory_th">Room No. 202, CIET</td>
                </tr>
                <tr>
                    <td class="advisory_th">29th Meeting of IAB</td>
                    <td class="advisory_th">17-01-2013</td>
                    <td class="advisory_th">10:00 AM</td>
                    <td class="advisory_th">Room No. 202, CIET</td>
                </tr>
                <tr>
                    <td class="advisory_th">28th Meeting of IAB</td>
                    <td class="advisory_th">06-01-2012</td>
                    <td class="advisory_th">10:00 AM</td>
                    <td class="advisory_th">Room No. 229, CIET</td>
                </tr>
                <tr>
                    <td class="advisory_th">27th Meeting of IAB</td>
                    <td class="advisory_th">13-01-2011</td>
                    <td class="advisory_th">10:00 AM</td>
                    <td class="advisory_th">Room No. 229, CIET</td>
                </tr>
                <tr>
                    <td class="advisory_th">26th Meeting of IAB</td>
                    <td class="advisory_th">08-02-2010</td>
                    <td class="advisory_th">10:00 AM</td>
                    <td class="advisory_th">Room No. 229, CIET</td>
                </tr>
                <tr>
                    <td class="advisory_th">25th Meeting of IAB</td>
                    <td class="advisory_th">20-02-2009</td>
                    <td class="advisory_th">10:00 AM</td>
                    <td class="advisory_th">Room No. 229, CIET</td>
                </tr>
                <tr>
                    <td class="advisory_th">24th Meeting of IAB</td>
                    <td class="advisory_th">23-01-2008</td>
                    <td class="advisory_th">10:00 AM</td>
                    <td class="advisory_th">Room No. 229, CIET</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% include 'partials/footer.html' %}

</body>
</html>