{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIET - PAC/IAB</title>
    <link rel="stylesheet" href="{% static 'css/advisory_board.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>

    {% include 'partials/navbar.html' %}

    <div class="container">
        <h1 class="advisory_h1">PAC NCERT</h1>
        <p class="advisory_p">
            <a href="#" class="link">Re-Constitution of the Institute Advisory Board (IABs) of CIET, New Delhi; PSSCIVE, Bhopal; and Regional Institutes of Education at Ajmer, Bhopal, Bhubaneswar, Mysore NERIE, Umiam(Shillong).</a>
        </p>

        <h1 class="advisory_h1">IAB (CIET)</h1>
        <p class="advisory_p">
            <a href="#" class="link">Constitute of IAB</a>
        </p>

        <h1 class="advisory_h1">Schedule of Meetings</h1>
        <table class="advisory_table">
            <thead>
                <tr>
                    <th class="advisory_th">Name of Meeting</th>
                    <th class="advisory_th">Date</th>
                    <th class="advisory_th">Venue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="advisory_th"><a href="#" class="link-orange">Institute Advisory Board Meeting of CIET (29th IAB)</a></td>
                    <td class="advisory_th">25.04.2024</td>
                    <td class="advisory_th">Committee Room, 1st Floor, Chintan Bhawan, NCERT, New Delhi</td>
                </tr>
                <tr>
                    <td class="advisory_th"><a href="#" class="link-orange">Programme Advisory Committee Meeting (42nd PAC)</a></td>
                    <td class="advisory_th">24.04.2024</td>
                    <td class="advisory_th">Committee Room, 1st Floor, Chintan Bhawan, NCERT, New Delhi</td>
                </tr>
                <tr>
                    <td class="advisory_th">Institute Advisory Board Meeting of CIET (28th IAB)</td>
                    <td class="advisory_th">27.04.2023</td>
                    <td class="advisory_th">Committee Room, 1st Floor, Chintan Bhawan, NCERT, New Delhi</td>
                </tr>
                <tr>
                    <td class="advisory_th">Programme Advisory Committee Meeting (41st PAC)</td>
                    <td class="advisory_th">26.04.2023</td>
                    <td class="advisory_th">Committee Room, 1st Floor, Chintan Bhawan, NCERT, New Delhi</td>
                </tr>
                <tr>
                    <td class="advisory_th">Institute Advisory Board Meeting of CIET (27th IAB)</td>
                    <td class="advisory_th">04.05.2022</td>
                    <td class="advisory_th">Online Mode through Google Meet</td>
                </tr>
                <tr>
                    <td class="advisory_th">Programme Advisory Committee Meeting (40th PAC)</td>
                    <td class="advisory_th">03.05.2022</td>
                    <td class="advisory_th">Online Mode through Google Meet</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% include 'partials/footer.html' %}

</body>
</html>