.pm-evidya-container {
    background-image: url('{% static "images/pm_evidya_bg.jpg" %}');
    background-size: cover;
    background-position: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
    font-family: Arial, sans-serif;
}

.pm-evidya-title {
    font-size: 2.5em;
    color: #e15a2a;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.pm-evidya-nav {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.pm-evidya-nav a {
    color: #fff;
    text-decoration: none;
}

.pm-evidya-nav a:hover {
    text-decoration: underline;
}

.pm-evidya-description {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px;
}

.pm-evidya-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pm-evidya-card {
    text-decoration: none;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
}

.pm-evidya-card img {
    width: auto;
    height: auto;
    object-fit: fill;
}

.pm-evidya-card span {
    display: block;
    padding: 10px;
    font-size: 0.9em;
}

.pm-evidya-card:hover {
    transform: scale(1.05);
}

.pm-evidya-link-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pm-evidya-link {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff69b4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}

.pm-evidya-link:hover {
    background-color: #ff1493;
}

@media (max-width: 768px) {
  .pm-evidya-title {
    font-size: 2em;
  }

  .pm-evidya-description {
    padding: 0 5px;
    font-size: 0.95em;
  }

  .pm-evidya-link {
    width: 70%;
    padding: 12px 20px;
  }

  .pm-evidya-card img {
    width: 150px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .pm-evidya-title {
    font-size: 1.5em;
  }

  .pm-evidya-description {
    font-size: 0.9em;
  }

  .pm-evidya-link {
    width: 100%;
    padding: 10px 15px;
    font-size: 0.9em;
  }

  .pm-evidya-card img {
    width: 120px;
    height: auto;
  }
}
