{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books Section</title>
    <link rel="stylesheet" href="{% static 'css/daisy_books.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% include "partials/navbar.html" %}

    <section class="books-section-container">
      <div class="books-section-content">
        <div class="section-header">
          <h2>DAISY BOOKS</h2>
        </div>

        <div class="audiobooks-section">
          <h2>AUDIO BOOKS FOR CHILDREN WITH SPECIAL NEEDS</h2>
          <p>
            Dear Listeners, DAISY books have "embedded navigation" that enables
            readers to instantly jump to any part of a work - the same way a
            sighted person can turn to any page. With DAISY, the text is
            delineated with tags, such as chapter, page, paragraph, etc., and
            synced with the audio files. Readers can navigate through this
            hierarchy using the Arrow keys, Tab or other player controls.
          </p>

          <h3>INSTRUCTIONS TO FOLLOW BEFORE LISTENING THE AUDIO BOOKS</h3>
          <p>Step 1: Download Daisy book reader i.e. DDReader+</p>
          <p>Step 2: Install it in your Computer</p>
          <p>Step 3: Download the Book</p>
          <p>Step 4: Extract it</p>
          <p>
            Step 5: Open the Daisy book reader i.e. DDReader+ (that you have
            installed previously)
          </p>
          <p>
            Step 6: Click on "Open tab" from Menu bar and browse the
            .html/.htm/.opf file from the extracted folder and click on it to
            open the book.
          </p>
        </div>

        <h1 class="class-wise-list">Class 1</h1>

        <div class="books-grid">
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Marigold-1%20Class-1%20DAISY.zip"><img
              src="{% static "images/aeen1cc.jpg" %}"
              alt="Book Cover 1"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class II</h1>

        <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/CLASS%202-%20RIMJHIM.zip"><img
              src="{% static "images/bhhn1cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Marigold-2%20Class-2%20DAISY.zip"><img
              src="{% static "images/been1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class III</h1>
          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Looking%20Around%20Class%203%20DAISY.zip"><img
              src="{% static "images/ceap1cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Marigold-2%20Class-2%20DAISY.zip"><img
              src="{% static "images/been1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/rimjhim-3%20dazy.zip"><img
              src="{% static "images/ceen1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class IV</h1>

          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Marigold%20Class%204%20DAISY.zip"><img
              src="{% static "images/deen1cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/CLASS%20-%204_%20HINDI_%20RIMJHIM%204.zip"><img
              src="{% static "images/dhhn1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class V</h1>

          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Marigold%20Class%205%20DAISY.zip"><img
              src="{% static "images/eeen1cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/CLASS%205_%20HINDI_%20RIMJHIM%20-%205.zip"><img
              src="{% static "images/ehhn1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class VI</h1>

          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Honey%20Suckle%20Class%206.rar"><img
              src="{% static "images/fehl1cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/A%20Pact%20With%20Sun.zip"><img
              src="{% static "images/fepw1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Ruchira-1%20Class%206%20.zip"><img
              src="{% static "images/fhsk1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Vasant%201%20Class%206.zip"><img
              src="{% static "images/fhvs1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/The%20Earth%20Our%20Habitat%20Class%206%20DAISY.zip"><img
              src="{% static "images/fess2cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Science%20Class%206%20-%20Daisy.zip"><img
              src="{% static "images/fesc1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Maths%20Class-6%20DAISY.zip"><img
              src="{% static "images/femh1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Hamare%20Ateet-1%20Class-6%20DAISY.zip"><img
              src="{% static "images/fhss1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Ganit%20Class-6%20DAISY.zip"><img
              src="{% static "images/fhmh1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Bal%20Ramkatha%20Class-6%20DAISY.zip"><img
              src="{% static "images/fhbr1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Doorva-1%20Class-6%20DAISY.zip"><img
              src="{% static "images/fhdv1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/CLASS%205_%20HINDI_%20RIMJHIM%20-%205.zip"><img
              src="{% static "images/ehhn1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class VII</h1>

          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Ruchira-2%20Class-7.zip"><img
              src="{% static "images/ghsk1cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Vasant-2%20Class-7.zip"><img
              src="{% static "images/ghvs1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Doorva-2%20Class-7.rar"><img
              src="{% static "images/ghdv1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Social%20and%20Political%20Life%20II%20Class%207%20Daisy.zip"><img
              src="{% static "images/gess3cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20Our%20Environment%20Class%207.zip"><img
              src="{% static "images/gess2cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Science%20Class%207%20DAISY.zip"><img
              src="{% static "images/gesc1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/An%20Alien%20Hand%20Class-7%20DAISY.zip"><img
              src="{% static "images/geah1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20HAMARA%20PARYAVARAN.zip"><img
              src="{% static "images/ghss2cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class VIII</h1>

          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Ruchira-3%20Class-8.zip"><img
              src="{% static "images/hhsk1cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Doorva-3%20Class-8.rar"><img
              src="{% static "images/hhdv1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Humare%20Ateet%20Class%208.zip"><img
              src="{% static "images/hhss1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Tactile%20Map%20Book%20Class%208.zip"><img
              src="{% static "images/tactile (1) (1).png" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Science%20Class%208%20DAISY.zip"><img
              src="{% static "images/hesc1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Resource%20and%20Development%20Class%208.zip"><img
              src="{% static "images/hess4cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/SparshiManchitra.zip"><img
              src="{% static "images/sparsh manchitra.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Social%20and%20Political%20Life%20III%20Class-8%20DAISY.zip"><img
              src="{% static "images/hess3cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Sankshipt%20Budhacharita%20Class-8%20DAISY.zip"><img
              src="{% static "images/hhsb1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Bharat%20ki%20Khoj%20Class-8%20DAISY.zip"><img
              src="{% static "images/hhbk1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class IX</h1>

          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/LoktantrikRajniti-1%20Class-9.rar"><img
              src="{% static "images/ihss4cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/BASW%20Class-9.zip"><img
              src="{% static "images/ihss3cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Beehive%20Class%209.zip"><img
              src="{% static "images/iebe1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Arthshastra%20Class-9.zip"><img
              src="{% static "images/ihss2cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Nawa-e-Urdu%20Class%209.zip"><img
              src="{% static "images/iuna1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20Kritika%20Bhag-1%20Class-9.zip"><img
              src="{% static "images/ihkr1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20Samkaleen%20Bharat%20Bhag-1%20Class-9.zip"><img
              src="{% static "images/ihss1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20Shemushi%20Class%209.zip"><img
              src="{% static "images/ihsh1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Contemporary%20%20India-1%20Class%2009.zip"><img
              src="{% static "images/iess1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20Gulzare%20%20Urdu%201%20Class%209th.zip"><img
              src="{% static "images/iugu1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Sparsh1-9.zip"><img
              src="{% static "images/ihsp1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Sanchayan-1%20Class-9%20DAISY.zip"><img
              src="{% static "images/ihsa1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class X</h1>

          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/LoktantrikRajniti-2%20Class-10.rar"><img
              src="{% static "images/jhss4cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/BASW%20Class-10.rar"><img
              src="{% static "images/jhss3cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Kshitij-2%20Class-10.zip"><img
              src="{% static "images/jhks1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Arthik%20Vikas%20Ki%20Samajh%20class%2010.zip"><img
              src="{% static "images/jhss2cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Nawa-e-Urdu-2%20Class%2010.zip"><img
              src="{% static "images/june1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20Kritika%20Bhag-2%20Class-10.zip"><img
              src="{% static "images/jhkr1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20Gulzare%20Urdu%202%20Class%2010th.zip"><img
              src="{% static "images/juge1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20Shemushi%20Class%2010.zip"><img
              src="{% static "images/jhsk1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/FirstFlightClass10.zip"><img
              src="{% static "images/jeff1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Sanchayan-2Class-10.zip"><img
              src="{% static "images/jhsy1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/science10"><img
              src="{% static "images/jesc1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="#"><img
              src="{% static "images/jess1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/DAISY%20Samkaleen%20Bharat%20Bhag-2%20Class-10-20230216T063225Z-001.zip"><img
              src="{% static "images/jhss1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Footprints%20withour%20Feet%20Class-10%20DAISY.zip"><img
              src="{% static "images/jefp1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

        <h1 class="class-wise-list">Class XI</h1>

          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Bhaswati-1%20Class-11%20DAISY.zip"><img
              src="{% static "images/khsk1cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Aaroh-1%20Class-11%20DAISY.zip"><img
              src="{% static "images/khar1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Vitan-1%20Class-11%20DAISY.zip"><img
              src="{% static "images/khvt1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Mathematics%20for%20Economics%20DAISY.zip"><img
              src="{% static "images/_get_premium_download_high_resolution_imagedesigned_with_EDIT.org (2) (1).jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>

          <h1 class="class-wise-list">Class XII</h1>

          <div class="books-grid">
            <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Vitaan-2%20Class-12.zip"><img
              src="{% static "images/lhvt1cc.jpg" %}"
              alt="Book Cover 2"
              class="book-cover"
            /></a>
          </div>

          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Antraal%20Class%2012.zip"><img
              src="{% static "images/lhan1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Aaroh%202%20Class%2012.zip"><img
              src="{% static "images/lhar1cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Introductory%20Microeconomics%20DAISY.zip"><img
              src="{% static "images/leec2cc.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/upload/daisybooks/Mathematics%20for%20Economics%20DAISY.zip"><img
              src="{% static "images/_get_premium_download_high_resolution_imagedesigned_with_EDIT.org (2) (1) (1).jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
          <div class="book-card">
            <a href="https://ciet.ncert.gov.in/storage/app/public/photos/13/daisy/INTRODUCTORY-MACROECONOMICS-TEXT-BOOK-IN-ECONOMICS-FOR-CLASS-12.jpg"><img
              src="{% static "images/INTRODUCTORY-MACROECONOMICS-TEXT-BOOK-IN-ECONOMICS-FOR-CLASS-12.jpg" %}"
              alt="Book Cover 3"
              class="book-cover"
            /></a>
          </div>
        </div>
    </section>

    {% include "partials/footer.html" %}
  </body>
</html>
