{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CIET - Genesis</title>
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% include 'partials/navbar.html' %}
    <div class="container">
      <h1 class="about_heading">Genesis</h1>
      <p clas>
        Central Institute of Educational Technology (CIET) is a constituent unit
        of the National Council of Educational Research and Training (NCERT), an
        autonomous organization under the Ministry of Education (MOE),
        Government of India. Established in 1984 with the merger of the Center
        of Educational Technology (1973) and Department of Teaching Aids (1959),
        its chief aim is to promote Educational Technology especially mass media
        singly or in combinations (multimedia packages) to extend educational
        opportunities and improve quality of educational processes at the school
        level.
      </p>
      <p class="about_p">
        As a premier institute of Educational Technology at the National level,
        major functions of the CIET-NCERT are based on Research and Development,
        Training, Extension and Dissemination functions are as given below:
      </p>
      <p class="about_p">
        a. To design, develop, try out and disseminate alternative learning
        systems to achieve the national goal of universalisation of elementary
        and secondary education.
      </p>
      <p class="about_p">
        b. To address various educational problems at micro, meso and macro
        levels.
      </p>
      <p class="about_p">
        The areas of activities of the CIET based on Research and Development,
        Training, Extension and Dissemination functions are as given below:
      </p>
      <ul class="about_ul">
        <li class="about_li">
          To design and produce media software materials viz., television/radio
          (for both broadcast as well as non-broadcast use) graphics and other
          programmes for strengthening the transaction of curricular and
          co-curricular activities at the school level.
        </li>
        <li class="about_li">
          To create competencies in development and use of educational software
          materials mentioned above through training in areas such as script
          development, media production, media communication, media research,
          technical operations, setting up studios, repair and maintenance of
          equipment.
        </li>
        <li class="about_li">
          To develop plans for the use of Information and Communication
          Technologies (ICTs) in education.
        </li>
        <li class="about_li">
          To train the faculty of Institutes of Advanced Study in
          Education/Colleges of Teacher Education and District Institutes of
          Education and Training in the use of Educational Technology in their
          teacher education programmes.
        </li>
        <li class="about_li">
          To undertake research, evaluation and monitoring of the systems,
          programmes and materials with a view to improving the materials and
          increasing their effectiveness.
        </li>
        <li class="about_li">
          To document and disseminate information, materials and media
          programmes for better utilization and to function as a
          clearinghouse/agency in the field of Educational Technology.
        </li>
        <li class="about_li">
          To advise and coordinate the academic and technical programmes and
          activities of the State Institutes of Educational Technology (SIETs)
          set up by the MHR in states of India.
        </li>
      </ul>

      <h1 class="about_heading">Major Functions of CIET</h1>
      <ul class="about_ul">
        <li class="about_li">Design, develop and disseminate alternative learning systems</li>
        <li class="about_li">Promote Educational Technology</li>
        <li class="about_li" >Train Personnel in Educational Technology</li>
        <li class="about_li">Advise & Co-ordinate activities of SIETs</li>
        <li class="about_li">
          Provide Consultancy and media support to other constituents of NCERT
        </li>
      </ul>
    </div>

    {% include 'partials/footer.html' %}
  </body>
</html>
