{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Directory</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/people.css' %}" />
  </head>
  <body>
    {% include 'partials/navbar.html' %}

    <div class="container">
      <div class="tabs">
        <button class="tab-button active" onclick="showTab('academic')">
          ACADEMIC
        </button>
        <button class="tab-button" onclick="showTab('administration')">
          ADMINISTRATION
        </button>
        <button class="tab-button" onclick="showTab('technical')">
          TECHNICAL/MEDIA PRODUCTION
        </button>
      </div>

      <!-- Academic Section -->
      <div id="academic" class="tab-content active">
        <div class="profile-card">
          <img src="{% static "images/amarendraBehra_academic.jpeg" %}"
          alt="Amarendra Behera" class="profile-image">
          <h3>Dr. Amarendra P Behera</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Biodata_Short_Dr_Behera.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrRajendraPal_academic.jpg" %}" alt="Dr.
          Rajendra Pal" class="profile-image">
          <h3>Dr. Rajendra Pal</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (240)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/BiodataRajendraPal.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrInduKumar_academic.jpg" %}" alt="Dr.
          Indu Kumar" class="profile-image">
          <h3>Dr. Indu Kumar</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (231)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/ProfIndu%20Kumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/Prof_ShireeshSingh.png" %}" alt="Dr.
          Shireesh P Singh" class="profile-image">
          <h3>Dr. Shireesh P Singh</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (239)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/Prof_ShireeshSingh.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/Photo_GauravSingh.jpg" %}" alt="Dr. Gaurav
          Singh" class="profile-image">
          <h3>Dr. Gaurav Singh</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (214)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/BioData_GauravSingh.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrBharti.jpg" %}" alt="Dr. Bharti"
          class="profile-image">
          <h3>Dr. Bharti</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (217)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/biodata-DrBharti.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrRajeshKrNimesh.jpg" %}" alt="Dr. Rajesh
          Kr. Nimesh" class="profile-image">
          <h3>Dr. Rajesh Kr. Nimesh</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (152)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/BiodataRKNimesh.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/RajeshD.jpeg" %}" alt="Dr. Rajesh D"
          class="profile-image">
          <h3>Dr. Rajesh D</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (234)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/CV-RajeshD.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/PHOTO_Upasana_Ray.jpeg" %}" alt="Dr.
          Upasana Ray" class="profile-image">
          <h3>Dr. Upasana Ray</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (219)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/CV_Upasana_Ray.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/PHOTO_DR-TAGARAM-KONDALA-RAO.jpg" %}"
          alt="Dr. Tagaram Kondala Rao" class="profile-image">
          <h3>Dr. Tagaram Kondala Rao</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (218)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/CV_DR-TAGARAM-KONDALA-RAO.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/Photo_DrPraveenBobbyBinjha.jpg" %}"
          alt="Dr. Praveen Bobby Binjha" class="profile-image">
          <h3>Dr. Praveen Bobby Binjha</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (317)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/CV_DrPraveenBobbyBinjha.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/Photo_DrRavindra Kumar.jpg" %}" alt="Dr.
          Ravindra Kumar" class="profile-image">
          <h3>Dr. Ravindra Kumar</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (221)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/Profile_DrRavindra%20Kumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrAbhayKumar.jpg" %}" alt="Dr. Abhay
          Kumar" class="profile-image">
          <h3>Dr. Abhay Kumar</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (235)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/abhay_CV_01102020_NCERT.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrRizvanulHaque.jpg" %}" alt="Dr. Rizvanul
          Haque" class="profile-image">
          <h3>Dr. Rizvanul Haque</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (326)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/DrRIZVANULHAQUE.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrRejaulKarimBarbhuiya.jpg" %}" alt="Dr.
          Rejaul Karim Barbhuiya" class="profile-image">
          <h3>Dr. Rejaul Karim Barbhuiya</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (237)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/biodata-Rejaul.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrAngelRathnabaiS.jpg" %}" alt="Dr. Angel
          Rathnabai S" class="profile-image">
          <h3>Dr. Angel Rathnabai S</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (247)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/DrAngel_Profile.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrAmitRanjan.jpg" %}" alt="Dr. Amit
          Ranjan" class="profile-image">
          <h3>Dr. Amit Ranjan</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (324)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/photos/9/bio-data/DrAmitBiodata.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/Photo_DrPranitaGopal.jpg" %}" alt="Dr.
          Pranita Gopal" class="profile-image">
          <h3>Dr. Pranita Gopal</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (233)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/BioData_DrPranitaGopal.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/Photo_DrJaganmohanaRaoGurugubelli.jpg" %}"
          alt="Dr. Jaganmohana Rao Gurugubelli" class="profile-image">
          <h3>Dr. Jaganmohana Rao Gurugubelli</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (245)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/CV_DrJaganmohanaRaoGurugubelli.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/PhotoDr-Jipsy-Malhotra.jpg" %}" alt="Dr.
          Jipsy Malhotra" class="profile-image">
          <h3>Dr. Jipsy Malhotra</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (230)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/BIO-DATA_Dr-Jipsy-Malhotra.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrRuchiDwivediphoto.jpg" %}" alt="Dr.
          Ruchi Dwivedi" class="profile-image">
          <h3>Dr. Ruchi Dwivedi</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/DrRuchi_D_Resume.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/Dr_Ravi_Nautiyal_Photo.jpg" %}" alt="Dr.
          Ravi Nautiyal" class="profile-image">
          <h3>Dr. Ravi Nautiyal</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/Dr_Ravi_Nautiyal.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
      </div>

      <!-- Administration Section -->
      <div id="administration" class="tab-content">
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Ashish Jain"
          class="profile-image">
          <h3>Ashish Jain</h3>
          <p>Deputy Secretary</p>
          <p>Extn. Number<br />+91-11-26864801-10 (302)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Smt. Usha"
          class="profile-image">
          <h3>Smt. Usha</h3>
          <p>Under Secretary</p>
          <p>Extn. Number<br />+91-11-26864801-10 (338)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Raj Kumar"
          class="profile-image">
          <h3>Sh. Raj Kumar</h3>
          <p>Accounts Officer</p>
          <p>Extn. Number<br />+91-11-26864801-10 (305)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Photo_page-0001.jpg" %}" alt="Sh. Parash
          Ram" class="profile-image">
          <h3>Sh. Parash Ram</h3>
          <p>Section Officer</p>
          <p>Extn. Number<br />++91-11-26864801-10 (242)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Virender
          Kumar" class="profile-image">
          <h3>Sh. Virender Kumar</h3>
          <p>Section Officer</p>
          <p>Extn. Number<br />+91-11-26864801-10 (157)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Sanjay
          Sharma" class="profile-image">
          <h3>Sh. Sanjay Sharma</h3>
          <p>Section Officer</p>
          <p>Extn. Number<br />+91-11-26864801-10 (307)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Mukesh
          Kumar" class="profile-image">
          <h3>Sh. Mukesh Kumar</h3>
          <p>APC / P.S to JD</p>
          <p>Extn. Number<br />+91-11-26864801-10 (225)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Sanjay
          Kumar" class="profile-image">
          <h3>Sh. Sanjay Kumar</h3>
          <p>APC / P.S to JD</p>
          <p>Extn. Number<br />+91-11-26864801-10 (331)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Anil Kumar"
          class="profile-image">
          <h3>Sh. Anil Kumar</h3>
          <p>APC / P.S to JD</p>
          <p>Extn. Number<br />+91-11-26864801-10 (243)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Maheshwar"
          class="profile-image">
          <h3>Sh. Maheshwar</h3>
          <p>Assistant</p>
          <p>Extn. Number<br />+91-11-26864801-10 (337)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Savender
          Dayal Nirwan" class="profile-image">
          <h3>Sh. Savender Dayal Nirwan</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (335)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Smt. Rekha"
          class="profile-image">
          <h3>Smt. Rekha</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (306)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Smt. Mukesh
          Devi" class="profile-image">
          <h3>Smt. Mukesh Devi</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (156)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Ms. Sarita
          Ratawal" class="profile-image">
          <h3>Ms. Sarita Ratawal</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (243)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Vijay Kumar"
          class="profile-image">
          <h3>Sh. Vijay Kumar</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (242)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Anshul"
          class="profile-image">
          <h3>Sh. Anshul</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (335)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Ms. Monica"
          class="profile-image">
          <h3>Ms. Monica</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (331)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Abhilekh"
          class="profile-image">
          <h3>Sh. Abhilekh</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (225)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Manoj
          Dhyani" class="profile-image">
          <h3>Sh. Manoj Dhyani</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (211)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Neeraj
          Yadav" class="profile-image">
          <h3>Sh. Neeraj Yadav</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (306)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Pappu(TS)"
          class="profile-image">
          <h3>Sh. Pappu(TS)</h3>
          <p>Farash / MTS</p>
          <p>Extn. Number<br />+91-11-26864801-10 (337)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Satpal
          Singh" class="profile-image">
          <h3>Sh. Satpal Singh</h3>
          <p>Farash / MTS</p>
          <p>Extn. Number<br />+91-11-26864801-10 (225)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
      </div>

      <!-- Technical Section -->
      <div id="technical" class="tab-content">
        <div class="profile-card">
          <img src="{% static "images/KumarNeerajPhoto.jpeg" %}" alt="Sh. Kumar
          Neeraj" class="profile-image">
          <h3>Sh. Kumar Neeraj</h3>
          <p>Film Director ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/PhotoRituBora.jpeg" %}" alt="Ms. Ritu
          Bora" class="profile-image">
          <h3>Ms. Ritu Bora</h3>
          <p>Production Manager ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (158)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/ManoranjanBadatya.jpg" %}" alt="Sh.
          Manoranjan Badatya" class="profile-image">
          <h3>Sh. Manoranjan Badatya</h3>
          <p>Film Editor Gr.I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (135)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/ManoranjanBio.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Rakesh
          Kumar" class="profile-image">
          <h3>Sh. Rakesh Kumar</h3>
          <p>Cameraman Gr.I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (130)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Amrinder.jpg" %}" alt="Sh. Kumar Neeraj"
          class="profile-image">
          <h3>Sh. Amrinder</h3>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/BinitaRoy.jpg" %}" alt="Ms. Ritu Bora"
          class="profile-image">
          <h3>Ms. Binita Roy</h3>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/VetriRajendiran.jpg" %}" alt="Sh.
          Manoranjan Badatya" class="profile-image">
          <h3>Sh. Vetri R</h3>
          <p>Photographer Gr. I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a
            href="https://ciet.ncert.gov.in/storage/app/public/files/9/ManoranjanBio.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/AbhishekaBayeePhoto.jpeg" %}" alt="Sh.
          Rakesh Kumar" class="profile-image">
          <h3>Sh. Abhisheka Bayee</h3>
          <p>Photographer Gr.II ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (130)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/ChittaranjanNayak1.jpeg" %}" alt="Sh.
          Kumar Neeraj" class="profile-image">
          <h3>Sh. Chittaranjan Nayak</h3>
          <p>Photographer Gr.II ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Ms. Ritu Bora"
          class="profile-image">
          <h3>Sh. Mansukh Bhai Rathod</h3>
          <p>T.V.P. Gr.I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (153)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/PhotoPrateek.jpeg" %}" alt="Sh. Manoranjan
          Badatya" class="profile-image">
          <h3>Sh. Prateek Sharma</h3>
          <p>Graphic Asstt. Gr. I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (135)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Rakesh
          Kumar" class="profile-image">
          <h3>Sh. Sanjeev Kumar</h3>
          <p>Professional Asstt. ( PRD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (130)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Kumar
          Neeraj" class="profile-image">
          <h3>Dr. Deepak Kumar Kapoor</h3>
          <p>Professional Asstt. ( PRD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/VimleshChaudhary.jpg" %}" alt="Ms. Ritu
          Bora" class="profile-image">
          <h3>Ms. Vimlesh Chaudhary</h3>
          <p>ARP-I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (145)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Manoranjan
          Badatya" class="profile-image">
          <h3>Dr.(Smt.) Anjula Sagar</h3>
          <p>Field Investigator ( PRD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Suman.jpg" %}" alt="Sh. Rakesh Kumar"
          class="profile-image">
          <h3>Ms. Suman Kanojia</h3>
          <p>Make up Asstt. ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (130)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/UtakarshShrivastava.jpg" %}" alt="Ms. Ritu
          Bora" class="profile-image">
          <h3>Sh. Utkarsh Srivastav</h3>
          <p>Toucher Gr. I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (153)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Manoranjan
          Badatya" class="profile-image">
          <h3>Sh. Robert</h3>
          <p>Floor Asstt. ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (405)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DEVENDRASHUKLA.jpg" %}" alt="Sh. Rakesh
          Kumar" class="profile-image">
          <h3>Sh. Devender Shukla</h3>
          <p>Floor Asstt. ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (130)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/RaviUpadhaya.jpg" %}" alt="Sh. Kumar
          Neeraj" class="profile-image">
          <h3>Sh. Ravi Upadhyay</h3>
          <p>Floor Asstt. ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/ParbhatMehato.jpg" %}" alt="Ms. Ritu Bora"
          class="profile-image">
          <h3>Sh. Prabhat Mahto</h3>
          <p>Floor Asstt. ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (145)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/PhotoShivani.jpeg" %}" alt="Sh. Manoranjan
          Badatya" class="profile-image">
          <h3>Ms. Shivani Gautam</h3>
          <p>Darkroom Asstt. ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Rakesh
          Kumar" class="profile-image">
          <h3>Sh. Ravinder Gulati</h3>
          <p>Lightman ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/KuldeepJangid.jpg" %}" alt="Sh. Kumar
          Neeraj" class="profile-image">
          <h3>Sh. Kuldeep Jangid</h3>
          <p>Carpenter ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Ms. Ritu Bora"
          class="profile-image">
          <h3>Sh. Bhagwan Singh Saini</h3>
          <p>Carpenter ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh. Manoranjan
          Badatya" class="profile-image">
          <h3>Sh. Narendr Pd Noutiyal</h3>
          <p>Khalasi</p>
          <p>Extn. Number<br />+91-11-26864801-10 (160)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Deepak.jpg" %}" alt="Sh. Rakesh Kumar"
          class="profile-image">
          <h3>-</h3>
          <p>Lightman ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (101)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>



        <div class="profile-card">
          <img src="{% static "images/kunda maam.jpg" %}" alt="Sh. Kumar
          Neeraj" class="profile-image">
          <h3>Ms. Kunda Shamkuwar</h3>
          <p>Superintending Engineer</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Purvi_Chhajed_ Senior_Engineer.jpg" %}" alt="Ms Purvi Chhajed" class="profile-image">
          <h3>Ms Purvi Chhajed</h3>
          <p>Senior Engineer</p>
          <p>Extn. Number<br />+91-11-26864801-10 (215)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Anupma_Thukral.jpeg" %}" alt="Sh.
          Manoranjan Badatya" class="profile-image">
          <h3>Smt. Anupma Thukral</h3>
          <p>Asstt.Engineer. Gr.A</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a
            href="#"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/B_Lyngdoh.jpeg" %}" alt="Sh. Rakesh
          Kumar" class="profile-image">
          <h3>Sh. B. Lyngdoh</h3>
          <p>Asstt.Engineer. Gr. A</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Manj_Yadav_Sound_Recordist_Gr_1.jpg" %}" alt="Sh. Kumar Neeraj"
          class="profile-image">
          <h3>Ms Manju Yadav</h3>
          <p>Sound Recordist Gr 1<br />+91-11-26864801-</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Sanyam_Kumar_Asstt_Engineer_Gr_A.jpg" %}" alt="Ms. Ritu Bora"
          class="profile-image">
          <h3>Sh. Sanyam Kumar</h3>
          <p>Asstt Engineer<br />+91-11-26864801-10 (117)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/VijayPrakashAssttEngineer.jpg" %}" alt="Sh.
          Manoranjan Badatya" class="profile-image">
          <h3>Sh. Vijay Prakash</h3>
          <p>Asstt Engineer Gr-A</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a
            href="#"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/placeholder.jpg" %}" alt="Sh.
          Rakesh Kumar" class="profile-image">
          <h3>Smt. Poonam Sharma</h3>
          <p>APC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (211)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Sunil_Kumar.jpeg" %}" alt="Sh.
          Kumar Neeraj" class="profile-image">
          <h3>Sh. Sunil Kumar</h3>
          <p>Asstt. Engg. Gr. B</p>
          <p>Extn. Number<br />+91-11-26864801-10 (110)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Daleep_Kumar.jpeg" %}" alt="Ms. Ritu Bora"
          class="profile-image">
          <h3>Sh. Daleep Kumar.</h3>
          <p>Asstt. Engg. Gr. B</p>
          <p>Extn. Number<br />+91-11-26864801-10 (111)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Vinender.jpg" %}" alt="Sh. Manoranjan
          Badatya" class="profile-image">
          <h3>Sh. Virender Rawat</h3>
          <p>Sound Recordist Gr 2</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/A_K_Mishra.jpeg" %}" alt="Sh. Rakesh
          Kumar" class="profile-image">
          <h3>Sh.Ashok Mishra</h3>
          <p>Tracer</p>
          <p>Extn. Number<br />+91-11-26864801-10 (413)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/AJAY_KUMAR_GUPTA_TECHNICIAN_GR_1.jpg" %}" alt="Sh. Kumar
          Neeraj" class="profile-image">
          <h3>Sh. Ajay Kumar Gupta</h3>
          <p>Technician Grade I</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Rohit_Sahu.jpg" %}" alt="Ms. Ritu
          Bora" class="profile-image">
          <h3>Sh. Rohit Sahu</h3>
          <p>Projectionist Grade I</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/IRFAN_TECHNICIAN.jpg" %}" alt="Sh. Manoranjan
          Badatya" class="profile-image">
          <h3>Sh. Irfan</h3>
          <p>Technician Grade I</p>
          <p>Extn. Number<br />+91-11-26864801-10 (123)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/CHANDRA_BHUSHAN_KUMAR_TECHNICIAN.png" %}" alt="Sh. Rakesh Kumar"
          class="profile-image">
          <h3>Sh. Chandra Bhushan Kumar</h3>
          <p>Technician Grade I</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/NAKUL_BACHHAS_TECHNICIAN_GR_1.jpg" %}" alt="Ms. Ritu
          Bora" class="profile-image">
          <h3>Sh. Nakul Bachhas</h3>
          <p>Technician Grade I</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/HASMUDDIN_TECHNICIAN.jpg" %}" alt="Sh. Manoranjan
          Badatya" class="profile-image">
          <h3>Sh. Hasmuddin</h3>
          <p>Technician Grade I</p>
          <p>Extn. Number<br />+91-11-26864801-</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/Naresh(E).jpg" %}" alt="Sh. Rakesh
          Kumar" class="profile-image">
          <h3>Sh. Naresh Kumar</h3>
          <p>Electrician</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
      </div>
    </div>

    {% include 'partials/footer.html' %}
    <script src="{% static 'js/people.js' %}"></script>
  </body>
</html>
