{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Directory</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/people.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    {% include 'partials/navbar.html' %}

    <div class="container">
      <div class="tabs">
        <button class="tab-button active" onclick="showTab('academic')">
          ACADEMIC
        </button>
        <button class="tab-button" onclick="showTab('administration')">
          ADMINISTRATION
        </button>
        <button class="tab-button" onclick="showTab('technical')">
          TECHNICAL/MEDIA PRODUCTION
        </button>
      </div>

      <!-- Academic Section -->
      <div id="academic" class="tab-content active">
        <div class="profile-card">
          <img src="{% static "images/amarendraBehra_academic.jpeg" %}"
          alt="Amarendra Behera" class="profile-image">
          <h3>Dr. Amarendra P Behera</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Biodata_Short_Dr_Behera.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/Poonam_agarwal_academic.jpg" %}"
          alt="Dr. Rajendra Pal" class="profile-image">
          <h3>Dr. Rajendra Pal</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (240)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/PoonamAgrawal.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrRajendraPal_academic.jpg" %}" alt="Dr. Indu Kumar" class="profile-image">
          <h3>Dr. Indu Kumar</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (231)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/BiodataRajendraPal.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrShashiPrabha_academic.jpg" %}" alt="Dr. Shireesh P Singh" class="profile-image">
          <h3>Dr. Shireesh P Singh</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (239)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/BiodataProfShashiPrabha.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrInduKumar_academic.jpg" %}" alt="Dr. Gaurav Singh" class="profile-image">
          <h3>Dr. Gaurav Singh</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (214)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/ProfIndu%20Kumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/ShRajeshKrNimesh_academic.jpg" %}" alt="Dr. Bharti" class="profile-image">
          <h3>Dr. Bharti</h3>
          <p>Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (217)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/BiodataRKNimesh.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrBharti_academic.jpg" %}" alt="Dr. Rajesh Kr. Nimesh"
          class="profile-image">
          <h3>Dr. Rajesh Kr. Nimesh</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (152)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/biodata-DrBharti.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrAbhayKumar_academic.jpg" %}" alt="Dr. Rajesh D" class="profile-image">
          <h3>Dr. Rajesh D</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (234)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/abhay_CV_01102020_NCERT.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrRizvanulHaque_academic.jpg" %}" alt="Dr. Upasana Ray" class="profile-image">
          <h3>Dr. Upasana Ray</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (219)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/DrRIZVANULHAQUE.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrRejaulKarimBarbhuiya_academic.jpg" %}"
          alt="Dr. Tagaram Kondala Rao" class="profile-image">
          <h3>Dr. Tagaram Kondala Rao</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (218)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/biodata-Rejaul.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrAngelRathnabaiS_academic.jpg" %}"
          alt="Dr. Praveen Bobby Binjha" class="profile-image">
          <h3>Dr. Praveen Bobby Binjha</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (317)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/DrAngel_Profile.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
    
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Ravindra Kumar" class="profile-image">
          <h3>Dr. Ravindra Kumar</h3>
          <p>Associate Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (221)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Abhay Kumar" class="profile-image">
          <h3>Dr. Abhay Kumar</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (235)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Rizvanul Haque" class="profile-image">
          <h3>Dr. Rizvanul Haque</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (326)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Rejaul Karim Barbhuiya" class="profile-image">
          <h3>Dr. Rejaul Karim Barbhuiya</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (237)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Angel Rathnabai S" class="profile-image">
          <h3>Dr. Angel Rathnabai S</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (247)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Amit Ranjan" class="profile-image">
          <h3>Dr. Amit Ranjan</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (324)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Pranita Gopal" class="profile-image">
          <h3>Dr. Pranita Gopal</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (233)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Jaganmohana Rao Gurugubelli" class="profile-image">
          <h3>Dr. Jaganmohana Rao Gurugubelli</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (245)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Jipsy Malhotra" class="profile-image">
          <h3>Dr. Jipsy Malhotra</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (230)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Ruchi Dwivedi" class="profile-image">
          <h3>Dr. Ruchi Dwivedi</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Dr. Ravi Nautiyal" class="profile-image">
          <h3>Dr. Ravi Nautiyal</h3>
          <p>Assistant Professor</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a
            href="https://dev.ncert.org.in/storage/app/public/photos/9/bio-data/Neelkanthkumar.pdf"
            class="view-profile-button"
            >View Profile</a
          >
        </div>
      </div>

      <!-- Administration Section -->
      <div id="administration" class="tab-content">
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Ashish Jain" class="profile-image">
          <h3>Ashish Jain</h3>
          <p>Deputy Secretary</p>
          <p>Extn. Number<br />+91-11-26864801-10 (302)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Smt. Usha" class="profile-image">
          <h3>Smt. Usha</h3>
          <p>Under Secretary</p>
          <p>Extn. Number<br />+91-11-26864801-10 (338)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Raj Kumar" class="profile-image">
          <h3>Sh. Raj Kumar</h3>
          <p>Accounts Officer</p>
          <p>Extn. Number<br />+91-11-26864801-10 (305)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Parash Ram" class="profile-image">
          <h3>Sh. Parash Ram</h3>
          <p>Section Officer</p>
          <p>Extn. Number<br />++91-11-26864801-10 (242)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Virender Kumar" class="profile-image">
          <h3>Sh. Virender Kumar</h3>
          <p>Section Officer</p>
          <p>Extn. Number<br />+91-11-26864801-10 (157)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Sanjay Sharma" class="profile-image">
          <h3>Sh. Sanjay Sharma</h3>
          <p>Section Officer</p>
          <p>Extn. Number<br />+91-11-26864801-10 (307)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Mukesh Kumar" class="profile-image">
          <h3>Sh. Mukesh Kumar</h3>
          <p>APC / P.S to JD</p>
          <p>Extn. Number<br />+91-11-26864801-10 (225)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Sanjay Kumar" class="profile-image">
          <h3>Sh. Sanjay Kumar</h3>
          <p>APC / P.S to JD</p>
          <p>Extn. Number<br />+91-11-26864801-10 (331)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Anil Kumar" class="profile-image">
          <h3>Sh. Anil Kumar</h3>
          <p>APC / P.S to JD</p>
          <p>Extn. Number<br />+91-11-26864801-10 (243)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Maheshwar" class="profile-image">
          <h3>Sh. Maheshwar</h3>
          <p>Assistant</p>
          <p>Extn. Number<br />+91-11-26864801-10 (337)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Savender Dayal Nirwan" class="profile-image">
          <h3>Sh. Savender Dayal Nirwan</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (335)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Smt. Rekha" class="profile-image">
          <h3>Smt. Rekha</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (306)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Smt. Mukesh Devi" class="profile-image">
          <h3>Smt. Mukesh Devi</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (156)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Ms. Sarita Ratawal" class="profile-image">
          <h3>Ms. Sarita Ratawal</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (243)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Vijay Kumar" class="profile-image">
          <h3>Sh. Vijay Kumar</h3>
          <p>UDC/Asstt. Cashier</p>
          <p>Extn. Number<br />+91-11-26864801-10 (242)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Anshul" class="profile-image">
          <h3>Sh. Anshul</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (335)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Ms. Monica" class="profile-image">
          <h3>Ms. Monica</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (331)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Abhilekh" class="profile-image">
          <h3>Sh. Abhilekh</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (225)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Manoj Dhyani" class="profile-image">
          <h3>Sh. Manoj Dhyani</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (211)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Neeraj Yadav" class="profile-image">
          <h3>Sh. Neeraj Yadav</h3>
          <p>LDC</p>
          <p>Extn. Number<br />+91-11-26864801-10 (306)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Pappu(TS)" class="profile-image">
          <h3>Sh. Pappu(TS)</h3>
          <p>Farash / MTS</p>
          <p>Extn. Number<br />+91-11-26864801-10 (337)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Satpal Singh" class="profile-image">
          <h3>Sh. Satpal Singh</h3>
          <p>Farash / MTS</p>
          <p>Extn. Number<br />+91-11-26864801-10 (225)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        
      </div>

      <!-- Technical Section -->
      <div id="technical" class="tab-content">
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Kumar Neeraj" class="profile-image">
          <h3>Sh. Kumar Neeraj</h3>
          <p>Film Director ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (-)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Ms. Ritu Bora" class="profile-image">
          <h3>Ms. Ritu Bora</h3>
          <p>Production Manager ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (158)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Manoranjan Badatya" class="profile-image">
          <h3>Sh. Manoranjan Badatya</h3>
          <p>Film Editor Gr.I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (135)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Rakesh Kumar" class="profile-image">
          <h3>Sh. Rakesh Kumar</h3>
          <p>Cameraman Gr.I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (130)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
        <div class="profile-card">
          <img src="{% static "images/DrNeelkanth_academic.jpg" %}" alt="Sh. Rakesh Kumar" class="profile-image">
          <h3>Sh. Rakesh Kumar</h3>
          <p>Cameraman Gr.I ( MPD )</p>
          <p>Extn. Number<br />+91-11-26864801-10 (130)</p>
          <a href="#" class="view-profile-button">View Profile</a>
        </div>
      </div>
    </div>

    {% include 'partials/footer.html' %}

    <script>
      function showTab(tabId) {
        // Hide all tab contents
        document.querySelectorAll(".tab-content").forEach((tab) => {
          tab.classList.remove("active");
        });

        // Remove active class from all buttons
        document.querySelectorAll(".tab-button").forEach((button) => {
          button.classList.remove("active");
        });

        // Show the selected tab content
        document.getElementById(tabId).classList.add("active");

        // Add active class to the clicked button
        document
          .querySelector(`button[onclick="showTab('${tabId}')"]`)
          .classList.add("active");
      }
    </script>
  </body>
</html>
