{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Inclusive Classrooms</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/live_classrooms.css" %}">
</head>
<body>
    {% include "partials/navbar.html" %}

<div class="container">
    <p class="intro-text">
      Inclusion in education is inevitable and at present the education system in India has entered an era where after generating sufficient awareness about special/diverse learners and their learning needs, we are grappling with the challenge of the "how" and "what" of inclusive education pedagogy practices. To further the cause of equitable and inclusive education envisaged in the National Education Policy 2020, CIET-NCERT has initiated a live interaction series, aiming at the clientele group of 12 DTH channels under PM eVidya (one class one channel).
    </p>
  
    <h2 class="section-title">LIVE SESSIONS</h2>
    <h3 class="schedule-title">WEEKLY SCHEDULE:</h3>
    <p class="schedule-timings">
      <strong>Teaching Learning Interventions for Inclusive Classrooms</strong><br>
      Timings: 12:00 noon to 12:30 pm<br>
      (MONDAY to FRIDAY)<br>
      Live interaction on PMEvidya DTH-TV Channels class 1 to 12, jio TV app and NCERT OFFICIAL YouTube Channel
    </p>
  
    <table class="schedule-table">
      <thead>
        <tr>
          <th colspan="2">PMEVidya Channels/Class</th>
          <th>WEEK 83<br>(25th-28th October 2022)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="1">Class 2</td>
          <td colspan="2">
            Date: 25- October 2022<br>
            Day: Tuesday<br>
            Subject: Hindi<br>
            Book: Rimjhim<br>
            Topic: पाठ - 10 मिठाई सजाकर<br>
            Expert Name: Ms. Arshpreet Kaur<br>
            Designation: TGT, Rana Pratap kanya vidyalaya, RITHALA<br>
            Email: <a href="mailto:apk3029@gmail.com">apk3029@gmail.com</a><br>
            Contact: <a href="tel:97170468651">97170468651</a><br>
            Interpreter: Ms. Annu Malik<br>
            Contact: <a href="tel:9050965182">9050965182</a>
          </td>
        </tr>
        <tr>
            <td rowspan="1">Class 3</td>
          <td colspan="2">
            Date: 26- October 2022<br>
            Day: Wednesday<br>
            Subject: English<br>
            Book: Marigold<br>
            Topic: Unit 6. Trains<br>
            Expert Name: Dr. Anita Pande<br>
            Designation: Lecturer in Special Education, Kusumagiri Training Institute for Special Education<br>
            Email: <a href="mailto:nmanita106@gmail.com">nmanita106@gmail.com</a><br>
            Contact: <a href="tel:9995203496">9995203496</a><br>
            Interpreter: Ms. Jyoti Gothal<br>
            Contact: <a href="tel:9050965182">9050965182</a>
          </td>
        </tr>
        <tr>
          <td rowspan="1">Class 4</td>
          <td colspan="2">
            Date: 27- October 2022<br>
            Day: Thursday<br>
            Subject: Mathematics<br>
            Book: Math-Magic<br>
            Topic: Ch-10. Play with Patterns<br>
            Expert Name: Ms. Kirti Yadav<br>
            Designation: Assistant Teacher (Primary), SBV Sector 1 Dwarka, D.O.E.<br>
            Email: <a href="mailto:kirtishelangiya@gmail.com">kirtishelangiya@gmail.com</a><br>
            Contact: <a href="tel:87700317757">87700317757</a><br>
            Interpreter: Ms. Jyoti Gothal<br>
            Contact: <a href="tel:9050965182">9050965182</a>
          </td>
        </tr>
        <tr>
            <td rowspan="1">Class 5</td>
          <td colspan="2">
            Date: 28- October 2022<br>
            Day: Friday<br>
            Subject: Mathematics<br>
            Book: Math-Magic<br>
            Topic: Ch- 9 Boxes and Sketches<br>
            Expert Name: Ms. Pushpa Madhwal<br>
            Designation: Senior Special Educator, Saksham<br>
            Email: <a href="mailto:pushpamadwal@hotmail.com">pushpamadwal@hotmail.com</a><br>
            Contact: <a href="tel:9911063962">9911063962</a><br>
            Interpreter: Mr. Dev Malik<br>
            Contact: <a href="tel:9050965182">9050965182</a>
          </td>
        </tr>
      </tbody>
    </table>
  
    <p>
      Playlist:<br>
      <a href="https://www.youtube.com/playlist?list=PLUgLcpNpv1YdgxEFZH045b584xAAs">https://www.youtube.com/playlist?list=PLUgLcpNpv1YdgxEFZH045b584xAAs</a>
    </p>
    <p>
      Contact the Coordinator: Dr. Bharti Kaushik,<br>
      Head DICT & TD, CIET, NCERT - Bharti.kaushik@ciet.nic.in
    </p>
  
    <h2 class="section-title">TRAINING</h2>
    <table class="training-table">
      <thead>
        <tr>
          <th colspan="3">SCHEDULE FOR FOUR DAYS TRAINING MODULE (LIVE SESSIONS)</th>
          <th>VIDEO LINK</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>13/09/22</td>
          <td colspan="2">
            Date: 13 September 2022<br>
            Day: Tuesday<br>
            Topic: PRASHAST- PRE ASSESSMENT HOLISTIC SCREENING TOOL- ORIENTATION<br>
            For: Teachers and Head Teachers of Demonstration Multipurpose Schools of RIES-NCERT (Ajmer, Bhopal, Bhubaneswar and Mysore)
          </td>
          <td><a href="https://youtu.be/WSinf-kBOAs">https://youtu.be/WSinf-kBOAs</a></td>
        </tr>
        <tr>
          <td>14/09/22</td>
          <td colspan="2">
            Date: 14 September 2022<br>
            Day: Wednesday<br>
            Topic: Sensitization of stakeholders on PRASHAST Mobile App<br>
            For: Teachers and Head Teachers of Eklavya Model Residential Schools (EMRS), Teachers and Head Teachers of Navodaya Vidyalayas.
          </td>
          <td><a href="https://youtu.be/5W5-DmNKHv4">https://youtu.be/5W5-DmNKHv4</a></td>
        </tr>
        <tr>
          <td>15/09/22</td>
          <td colspan="2">
            Date: 15 September 2022<br>
            Day: Thursday<br>
            Topic: Sensitization of stakeholders on PRASHAST Mobile App<br>
            For: Teachers and Head Teachers of CBSE Schools located across India.
          </td>
          <td><a href="https://youtu.be/abeVRAWY26k">https://youtu.be/abeVRAWY26k</a></td>
        </tr>
        <tr>
          <td>16/09/22</td>
          <td colspan="2">
            Date: 16 September 2022<br>
            Day: Friday<br>
            Topic: Sensitization of stakeholders on PRASHAST Mobile App<br>
            For: Inclusive Education Coordinators of States and UTs, THE field functionaries of Samagra Shiksha engaged in implementation of Inclusive Education and faculty of SCERTs, DIETs, BITEs, CTEs/IASEs, SIETs, and SIEMAT etc.
          </td>
          <td><a href="https://youtu.be/xFOXH04wpg4">https://youtu.be/xFOXH04wpg4</a></td>
        </tr>
      </tbody>
    </table>
  
    <h2 class="section-title">Completed Activity</h2>
    <table class="completed-table">
      <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Training Titles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20th June 2022</td>
          <td>25th June 2022</td>
          <td>
            Online Training on Learning Disability (Banner)<br>
            REGISTER NOW: <a href="https://forms.gle/jlgnEob6mtsFQV8">https://forms.gle/jlgnEob6mtsFQV8</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  {% include "partials/footer.html" %}

  </body>
</html>