{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entries for AICEeCC 2023-24</title>
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="stylesheet" href="{% static "css/entriesec23.css" %}">
</head>
<body>
    {% include "partials/navbar.html" %}
  <div class="header">
    <p>Gallery</p>
  </div>
  <div class="container">
    <div class="card">
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/19/AICEeCC/23_24/23_24files/Final_AUDIO_Programmes.pdf">
        <img src="{% static "images/image.png" %}" alt="Audio">
        <p>Images Gallery</p>
      </a>
    </div>
    <div class="card">
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/19/AICEeCC/23_24/23_24files/Final_Immersive_Programmes.pdf">
        <img src="{% static "images/glimpse.png" %}" alt="immersive content">
        <p>Video Gallery</p>
      </a>
    </div>
    
    
  </div>
  {% include "partials/footer.html" %}
</body>
</html>