{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eContent Guidelines</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/econtent_guidelines.css" %}">

</head>
<body>
    {% include "partials/navbar.html" %}

    <div class="container">
        <h1>eContent Guidelines</h1>
        <div class="guidelines">
            <p>Guidelines for the Development of e-Content for Children with Disabilities</p>
            <p>Guidelines for Development of eContent for School Education Version-3.0</p>
        </div>
        
    </div>
    {% include "partials/navbar.html" %}
</body>
</html>