{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICT Curriculum</title>
    <link rel="stylesheet" href="{% static 'css/ict_curriculum.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    {% include "partials/navbar.html" %}

    <div class="container">
        <div class="header">
            <h1>ICT Curriculum</h1>
        </div>
    </div>


    <div>
        <img src="{% static 'images/brocher_ict_curriculum.png' %}" alt="Blue Image" class="background-image">
    </div>

    {% include "partials/footer.html" %}

</body>
</html>