{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NISHTHA</title>
    <link rel="stylesheet" href="{% static 'css/nishtha.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    {% include "partials/navbar.html" %}

    <div class="nishtha-container">
        <h1 class="nishtha-title">NISHTHA</h1>
        <p class="nishtha-description">NISHTHA: National Initiative for School Heads' and Teachers' Holistic Advancement</p>
        <p class="nishtha-description">The Department of School Education and Literacy has launched a National Mission to improve learning outcomes at the elementary level through an Integrated Teacher Training Programme called NISHTHA under the Centrally Sponsored Scheme of Samagra Shiksha in 2019-20. NISHTHA (National Mission to improve learning outcomes at the elementary level) is a capacity building programme for "Improving Quality of School Education through Integrated Teacher Training". It aims to build competencies among all the teachers and school principals at the elementary stage. NISHTHA is the world's largest teachers' training programme of its kind. The basic objective of this massive training programme is to motivate and equip teachers to encourage and foster critical thinking in students. The initiative is first of its kind wherein standardized training modules are developed at national level for all States and UTs.</p>
        <div class="nishtha-card-container">
            <a href="https://nishtha.ncert.gov.in/"><img src="{% static 'images/nishtta.jpg' %}" alt="NISHTHA Online"></a>
            <a href="https://itpd.ncert.gov.in/mod/page/view.php?id=48493"><img src="{% static 'images/fln.jpg' %}" alt="NISHTHA FLN"></a>
            <a href="https://itpd.ncert.gov.in/mod/page/view.php?id=48476"><img src="{% static 'images/NISHTHA_Elementary.jpg' %}" alt="NISHTHA Elementary"></a>
            <a href="https://itpd.ncert.gov.in/mod/page/view.php?id=48485"><img src="{% static 'images/NISHTHA_Secondary.jpg' %}" alt="NISHTHA Secondary"></a>
            <a href="https://play.google.com/store/apps/details?id=ncert.ciet.nishtha&hl=en_IN&gl=US"><img src="{% static 'images/NISHTHA_App.jpg' %}" alt="NISHTHA App"></a>
        </div>
    </div>

    {% include "partials/footer.html" %}

</body>
</html>