{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programme Advisory Committee (PAC) Proposals</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/pac_projects.css" %}">
</head>
<body>

    {% include "partials/navbar.html" %}

    <div class="container">
        <p class="intro">
            Programme Advisory Committee (PAC) of National Council of Educational Research and Training (NCERT) is an academic body which looks into the academic aspects of the programme proposed by different constituent units of NCERT. The PAC will only examine development, training, and extension programmes. The list of PAC programmes are listed below with their dedicated programme codes and point of contact.
        </p>
        
        <h1>List of Programme Proposals at a Glance (2024-25)</h1>
        
        <div class="table-header">
            <span class="col1">PAC Code</span>
            <span class="col2">Title of the Programme</span>
            <span class="col3">Category</span>
            <span class="col4">Programme Coordinator(s)</span>
        </div>

        <h2>Research</h2>

        <div class="table-row">
            <span class="col1">20.01</span>
            <span class="col2">Effectiveness of PM e-Vidya Video content on Student's achievement at Secondary Level.</span>
            <span class="col3">New</span>
            <span class="col4">Prof. Amarendra P. Behera<br>Prof. Shreesh Pal Singh<br>Dr. Pranita Gopal</span>
        </div>

        <div class="table-row">
            <span class="col1">20.02</span>
            <span class="col2">Effectiveness of AR and VR content on Students achievement in Science and Mathematics at secondary level</span>
            <span class="col3">New</span>
            <span class="col4">Prof. Rajendra Pal<br>Dr. Prakash K<br>Dr. T. K. Rao Badiger</span>
        </div>

        <h2>Development</h2>

        <div class="table-row">
            <span class="col1">20.03</span>
            <span class="col2">Development of Educational Audio/Video Programme Scripts for School, Teacher, and Adult Education</span>
            <span class="col3">New</span>
            <span class="col4">Prof. Rajendra Pal<br>Coordination: Prof. Gaurav Singh<br>Foundational: Dr. Upasana Ray<br>Middle: Dr. Jagan Mohan Rao<br>Secondary: Dr. Prakash Badigar (Level 1)<br>Prof. Gaurav Singh (Level 2)<br>Teacher Education: Prof. Shireesh Pal Singh<br>Dr. Pranita Gopal<br>Inclusive Education: Dr. Bharti Kaushik<br>Series Coordinators:
                Dr. Jaganmohan Rao<br>
                Dr. Pranita Gopal<br>
                Dr. Rejaul Karim<br>
                Dr. Rizvanul Haque<br>
                Dr. Amit Ranjan<br>
                Dr. Prakash Badigar<br>
                Dr. T.K. Rao<br>
                Dr. Praveen B. Binjha<br>
                Dr. Upasana Ray<br>
                Dr. Bharti Kaushik<br>
                Dr. R. K. Nimeshv<br>
                Prof. Gaurav Singh<br>
                Prof. Shirish Pal Singh<br>
                Prof. Rajendra Pal</span>
        </div>

        <div class="table-row">
            <span class="col1">20.04</span>
            <span class="col2">Development and Dissemination of Educational Media Programme for School, Teacher, and Adult Educatio</span>
            <span class="col3">New</span>
            <span class="col4">Project Coordination: Prof. Rajendra Pal<br>Foundational: Dr. Upasana Ray<br>Middle: Dr. Jagan Mohan Rao<br>Secondary: Dr. Prakash Badigar (Level 1)<br>Prof. Gaurav Singh (Level 2)<br>Teacher Education: Prof. Shireesh Pal Singh<br>Dr. Pranita Gopal<br>Inclusive Education: Dr. Bharti Kaushik<br>Series Coordinators:
                Dr. Jaganmohan Rao<br>
                Dr. Pranita Gopal<br>
                Dr. Rejaul Karim<br>
                Dr. Rizvanul Haque<br>
                Dr. Amit Ranjan<br>
                Dr. Prakash Badigar<br>
                Dr. T.K. Rao<br>
                Dr. Praveen B. Binjha<br>
                Dr. Upasana Ray<br>
                Dr. Bharti Kaushik<br>
                Dr. R. K. Nimeshv<br>
                Prof. Gaurav Singh<br>
                Prof. Shirish Pal Singh<br>
                Prof. Rajendra Pal</span>
        </div>

        <h2>Training</h2>

        <div class="table-row">
            <span class="col1">20.05</span>
            <span class="col2">Development of Digital Resources on Cyber Safety and Capacity Building</span>
            <span class="col3">New</span>
            <span class="col4">Dr. Angel Rathnabai S.</span>
        </div>

        <h2>Extension</h2>

        <div class="table-row">
            <span class="col1">20.06</span>
            <span class="col2">IEC in ET/ICT for School and Teacher Education</span>
            <span class="col3">New Regular</span>
            <span class="col4">Dr. T.K. Rao Dr. Bharti Kaushik</span>
        </div>

        <div class="table-row">
            <span class="col1">20.07</span>
            <span class="col2">Online Publication of Indian Journal of Educational Technology and Quarterly Newsletter of CIET</span>
            <span class="col3">New Regular</span>
            <span class="col4">Dr. Abhay Kumar Prof. Indu Kumar</span>
        </div>

        <ul class="footer-list">
            <li><a href="{% static "pdfs/dept_pdfs/pac.pdf" %}" target="_blank" class="program-links">PAC Program (2023-24)</a></li>
            <li><a href="{% static "pdfs/dept_pdfs/Final_at_a_glance_2022-23.pdf" %}" target="_blank" class="program-links">PAC Program (2022-23)</a></li>
            <li><a href="{% static "pdfs/dept_pdfs/Final_at_a_glance_2021-22.pdf" %}" target="_blank" class="program-links">PAC Program (2021-22)</a></li>
            <li><a href="{% static "pdfs/dept_pdfs/Final_at_a_glance_2020-21.pdf" %}" target="_blank" class="program-links">PAC Program (2020-21)</a></li>
            <li><a href="{% static "pdfs/dept_pdfs/Final_at_a_glance_2019-20.pdf" %}" target="_blank" class="program-links">PAC Program (2019-20)</a></li>
        </ul>
    </div>

    {% include "partials/footer.html" %}

</body>
</html>