{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>200 DTH TV Channels</title>
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
  <link rel="stylesheet" href="{% static "css/tv_channels.css" %}">
</head>
<body>
  {% include "partials/navbar.html" %}
  <header style="background-color: #2c6e8c; color: white; padding: 10px; text-align: center;">
    <h1>200 DTH TV Channels</h1>
   
    
  </header>
  <main>
    <div class="button-container">
      <a href="https://www.swayamprabha.gov.in/index.php/schooledu" class="orange-button">200 DTH TV Channels Transmission</a>
      <a href="#" class="orange-button">200 DTH TV Channels List</a>
    </div>
    <p>Standard operating procedure (SOP) for DTH - TV channels for school education</p>
    <p>Guidelines for Development of Engaging eContents for Educational Television</p>
    <p>One of the major components of PM eVidya initiative is 'One Class-One Channel' where 12 DTH television channels are dedicated for the transmission of education contents for Class 1 to 12 based on NCERT curriculum</p>
    <h2 style="color: #28a745;">12 NCERT DTH Educational TV Channel Transmission Schedule (Current)</h2>
    <div class="class-buttons">
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_1_April_2025.pdf" class="class-button">Class I</a>
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_2_April_2025.pdf" class="class-button">Class II</a>
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_3_April_2025.pdf" class="class-button">Class III</a>
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_4_April_2025.pdf" class="class-button">Class IV</a>
    </div>
    <div class="class-buttons">
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_5_April_2025.pdf" class="class-button">Class V</a>
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_6_April_2025.pdf" class="class-button">Class VI</a>
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_7_April_2025.pdf" class="class-button">Class VII</a>
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_8_April_2025.pdf" class="class-button">Class VIII</a>
    </div>
    <div class="class-buttons">
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_9_April_2025.pdf" class="class-button">Class IX</a>
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_10_April_2025.pdf" class="class-button">Class X</a>
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_11_April_2025.pdf" class="class-button">Class XI</a>
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/17/pmevidya/April2025/Class_12_April_2025.pdf" class="class-button">Class XII</a>
    </div>
    <h2 style="color: #28a745;">Important Info About 12 DTH TV Channels</h2>
    <div class="info-buttons">
      <a href="https://ciet.ncert.gov.in/storage/app/public/files/13/Documents/eVidya%20Channel%20Details.pdf" class="info-button"><img src="{% static "images/Service_Provider_Details_(1).png" %}" alt="Service Provider">Service Provider Details</a>
      <a href="https://ciet.ncert.gov.in/flipbook/TransmissionSchedule/April25TransmissionSchedule" class="info-button"><img src="{% static "images/Transmission_Schedule_for_Classes_1-12.png" %}" alt="Transmission Schedule">Transmission Schedule for Classes 1-12</a>
      <a href="#" class="info-button"><img src="{% static "images/Archive_(1).png" %}" alt="Archive">Archive</a>
    </div>
    <p>Give your feedback on 12 eVidya channels on Toll Free number - 8004400559</p>
    <p>You can also send your feedback by <a href="https://ciet.ncert.gov.in/storage/app/public/files/13/Documents/feedback-pmevidya.pdf" style="color: orange;">Click here for class-wise email id</a> and <a href="{% url "contact" %}" style="color: orange;">Click here for Feedback form</a></p>
  </main>
  {% include "partials/footer.html" %}
</body>
</html>
