{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop/Training</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/workshop_training.css" %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>

    {% include "partials/navbar.html" %}

<div class="training-container">
    <p class="intro-text">
      CIET-NCERT conducts online training to promote use of technology in teaching and learning process. The National Education Policy – 2020 (NEP-2020) holds emphasis on the interplay of education and technology. The policy notes that one of the central principles to steer the education system will be the ‘extensive use of technology in teaching and learning, removing language barriers, increasing access as well as education planning and management’. In the light, NEP 2020 has set out laying standards to encourage digital content development, which will become a digital push for quality development in the field of Education.
    </p>
  
    <h2 class="section-title current-title">Current Activity</h2>
    <table class="activity-table">
      <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Program Title</th>
        </tr>
      </thead>
      {% comment %} <tbody>
        <tr>
          <td>21st November 2022</td>
          <td>25th November 2022</td>
          <td><a href="#" class="program-link">Online Training on Accessible Digital Resources and Assistive Technologies</a> </td>
        </tr>
        <tr>
          <td>02nd November 2022</td>
          <td>18th November 2022</td>
          <td><a href="{% url "cyber_jaagrookta" %}" class="program-link">Cyber Jaagrookta Diwas Theme for November, 2022: Social Media - Safety and Wellbeing</a></td>
        </tr>
        <tr>
          <td>25th October 2022</td>
          <td>28th October 2022</td>
          <td><a href="#" class="program-link"> Online Training on Let's be a Cyber Warrior</a></td>
        </tr>
        <tr>
          <td>07th October 2022</td>
          <td>21th October 2022</td>
          <td><a href="#" class="program-link">Cyber Jaagrookta Diwas Series Theme: Technical Aspects of Cyber Safety</a></td>
        </tr>
      </tbody> {% endcomment %}
    </table>
  
    <h2 class="section-title upcoming-title">Upcoming Activity</h2>
    <table class="activity-table">
      <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Program Title</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  
    <h2 class="section-title completed-title">Completed Activity</h2>
    <table class="activity-table">
      <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Program Title</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>24-03-2025</td>
          <td>28-03-2025</td>
          <td><a href="#" class="program-link">"शिक्षा को बेहतर बनाने के लिए डिजिटल पहलें" पर ऑनलाइन प्रशिक्षण</a> </td>
        </tr>
        <tr>
          <td>17-03-2025</td>
          <td>27-03-2025</td>
          <td><a href="#" class="program-link">Online training on “Integration of Virtual Labs in Teaching-Learning”</a></td>
        </tr>
        <tr>
          <td>17-03-2025</td>
          <td>21-03-2025</td>
          <td><a href="#" class="program-link">Online training on Digital Initiatives for Transforming Education</a> </td>
        </tr>
        <tr>
          <td>10-03-2025</td>
          <td>15-03-2025</td>
          <td><a href="#" class="program-link">साइबरस्पेस में उभरती चिंताएँ पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>03-03-2025</td>
          <td>07-03-2025</td>
          <td><a href="#" class="program-link">Online training on Emerging Concerns in Cyberspace</a></td>
        </tr>
        <tr>
          <td>24-02-2025</td>
          <td>28-02-2025</td>
          <td><a href="#" class="program-link">सामाजिक विज्ञान के शिक्षण और अधिगम के लिए सूचना और संचार प्रौद्योगिकी (आईसीटी) पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>17-02-2025</td>
          <td>21-02-2025</td>
          <td><a href="#" class="program-link">Online training on ICT for Teaching and Learning of Social Sciences</a></td>
        </tr>
        <tr>
          <td>10-02-2025</td>
          <td>14-02-2025</td>
          <td><a href="#" class="program-link">साइबरस्पेस के युग में मानसिक एवं शारीरिक कल्याण पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>03-02-2025</td>
          <td>07-02-2025</td>
          <td><a href="#" class="program-link">Online training on "Mental and Physical Well-being in the Era of Cyberspace"</a></td>
        </tr>
        <tr>
          <td>20-01-2025</td>
          <td>24-01-2025</td>
          <td><a href="#" class="program-link">भाषाओं के शिक्षण एवं अधिगम हेतु सूचना और संचार प्रौद्योगिकी (आईसीटी) पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>13-01-2025</td>
          <td>17-01-2025</td>
          <td><a href="#" class="program-link">Online training on "ICT for Teaching and Learning of Languages"</a></td>
        </tr>
        <tr>
          <td>06-01-2025</td>
          <td>15-01-2025</td>
          <td><a href="#" class="program-link">Online Training on “Integration of Virtual Labs in Teaching-Learning” Phase 4</a></td>
        </tr>
        <tr>
          <td>06-01-2025</td>
          <td>10-01-2025</td>
          <td><a href="#" class="program-link">साइबर स्वच्छता पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>30-12-2024</td>
          <td>03-01-2025</td>
          <td><a href="#" class="program-link">Online Training on Cyber Hygiene</a></td>
        </tr>
        <tr>
          <td>16-12-2024</td>
          <td>26-12-2024</td>
          <td><a href="#" class="program-link">Online Training on “Integration of Virtual Labs in Teaching-Learning” Phase 3</a></td>
        </tr>
        <tr>
          <td>23-12-2024</td>
          <td>27-12-2024</td>
          <td><a href="#" class="program-link">विज्ञान के शिक्षण एवं अधिगम हेतु आईसीटी</a></td>
        </tr>
        <tr>
          <td>16-12-2024</td>
          <td>20-12-2024</td>
          <td><a href="#" class="program-link">ICT for Teaching and Learning of Science</a></td>
        </tr>
        <tr>
          <td>02-12-2024</td>
          <td>11-12-2024</td>
          <td><a href="#" class="program-link">Online Training on “Integration of Virtual Labs in Teaching-Learning” Phase 2</a></td>
        </tr>
        <tr>
          <td>09-12-2024</td>
          <td>13-12-2024</td>
          <td><a href="#" class="program-link">इंटरनेट ऑफ थिंग्स (IoT) और मोबाइल उपकरण तथा उनकी सुरक्षा</a></td>
        </tr>
        <tr>
          <td>02-12-2024</td>
          <td>06-12-2024</td>
          <td><a href="#" class="program-link">Online training on Internet of Things (IoT), Mobile Devices and its Safety</a></td>
        </tr>
        <tr>
          <td>25-11-2024</td>
          <td>29-11-2024</td>
          <td><a href="#" class="program-link">शिक्षा में आर्टिफीसियल इंटेलिजेंस (AI) पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>18-11-2024</td>
          <td>27-11-2024</td>
          <td><a href="#" class="program-link">Online Training on “Integration of Virtual Labs in Teaching-Learning”</a></td>
        </tr>
        <tr>
          <td>18-11-2024</td>
          <td>22-11-2024</td>
          <td><a href="#" class="program-link">Online Training on Artificial intelligence (AI) in Education</a></td>
        </tr>
        <tr>
          <td>11-11-2024</td>
          <td>15-11-2024</td>
          <td><a href="#" class="program-link">डिजिटल गेमिंग के लिए सुरक्षित अभ्यास</a></td>
        </tr>
        <tr>
          <td>04-11-2024</td>
          <td>08-11-2024</td>
          <td><a href="#" class="program-link">Online training on Secure Practices for Digital Gaming</a></td>
        </tr>
        <tr>
          <td>21-10-2024</td>
          <td>25-10-2024</td>
          <td><a href="#" class="program-link">गणित शिक्षण एवं अधिगम के लिए आईसीटी</a></td>
        </tr>
        <tr>
          <td>14-10-2024</td>
          <td>18-10-2024</td>
          <td><a href="#" class="program-link">Online training on ICT for Teaching and Learning of Mathematics</a></td>
        </tr>
        <tr>
          <td>07-10-2024</td>
          <td>11-10-2024</td>
          <td><a href="#" class="program-link">सोशल मीडिया सुरक्षा और कल्याण पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>30-09-2024</td>
          <td>04-10-2024</td>
          <td><a href="#" class="program-link">Online training on Social Media Safety and Well-being</a></td>
        </tr>
        <tr>
          <td>23-09-2024</td>
          <td>27-09-2024</td>
          <td><a href="#" class="program-link">शिक्षण एवं अधिगम के लिए डिजिटल संसाधन के रूप में एनीमेशन</a></td>
        </tr>
        <tr>
          <td>16-09-2024</td>
          <td>20-09-2024</td>
          <td><a href="#" class="program-link">Online Training on “Animation as Digital Resource for Teaching and Learning”</a></td>
        </tr>
        <tr>
          <td>09-09-2024</td>
          <td>13-09-2024</td>
          <td><a href="#" class="program-link">"साइबर पेरेंटिंग" पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>02-09-2024</td>
          <td>06-09-2024</td>
          <td><a href="#" class="program-link">Online Training on Cyber Parenting</a></td>
        </tr>
        <tr>
          <td>26-08-2024</td>
          <td>30-08-2024</td>
          <td><a href="#" class="program-link">मीडिया सूचना साक्षरता पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>19-08-2024</td>
          <td>23-08-2024</td>
          <td><a href="#" class="program-link">Online Training on Media & Information Literacy</a></td>
        </tr>
        <tr>
          <td>12-08-2024</td>
          <td>16-08-2024</td>
          <td><a href="#" class="program-link">साइबरस्पेस में वित्तीय सुरक्षा पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>05-08-2024</td>
          <td>09-08-2024</td>
          <td><a href="#" class="program-link">Online Training on Financial Safety in Cyberspace</a></td>
        </tr>
        <tr>
          <td>22-07-2024</td>
          <td>26-07-2024</td>
          <td><a href="#" class="program-link">"मुक्त शैक्षिक संसाधन (ओईआर) और लाइसेंस" पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>15-07-2024</td>
          <td>19-07-2024</td>
          <td><a href="#" class="program-link">Open Educational Resources (OER) and Licenses</a></td>
        </tr>
        <tr>
          <td>08-07-2024</td>
          <td>12-07-2024</td>
          <td><a href="#" class="program-link">"डिजिटल वेलनेस" पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>01-07-2024</td>
          <td>05-07-2024</td>
          <td><a href="#" class="program-link">Online Training on Digital Wellness</a></td>
        </tr>
        <tr>
          <td>24-06-2024</td>
          <td>28-06-2024</td>
          <td><a href="#" class="program-link">DIKSHA पर शिक्षण-अधिगम की विशिष्टताओं को उन्नत बनाना</a></td>
        </tr>
        <tr>
          <td>17-06-2024</td>
          <td>21-06-2024</td>
          <td><a href="#" class="program-link">Elevating Teaching - Learning Dynamics on DIKSHA</a></td>
        </tr>
        <tr>
          <td>10-06-2024</td>
          <td>14-06-2024</td>
          <td><a href="#" class="program-link">"साइबर खतरों" पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>03-06-2024</td>
          <td>07-06-2024</td>
          <td><a href="#" class="program-link">Online Training on “Cyber Threats”</a></td>
        </tr>
        <tr>
          <td>26-03-2024</td>
          <td>30-03-2024</td>
          <td><a href="#" class="program-link">ई-सामग्री के विकास पर ऑनलाइन प्रशिक्षण: वीडियो संसाधन</a></td>
        </tr>
        
        <tr>
          <td>11-03-2024</td>
          <td>15-03-2024</td>
          <td><a href="#" class="program-link">"विशेष आवश्यकता वाले बच्चों के लिए डिजिटल प्रौद्योगिकी" पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>04-03-2024</td>
          <td>08-03-2024</td>
          <td><a href="#" class="program-link">Online Training “Cyber Clubs”</a></td>
        </tr>
        <tr>
          <td>26-02-2024</td>
          <td>01-03-2024</td>
          <td><a href="#" class="program-link">गणित के शिक्षण और अधिगम के लिए ई-सामग्री का विकास</a></td>
        </tr>
        <tr>
          <td>12-02-2024</td>
          <td>16-02-2024</td>
          <td><a href="#" class="program-link">"मिश्रित अधिगम" पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>05-02-2024</td>
          <td>09-02-2024</td>
          <td><a href="#" class="program-link">Online Training “Cybersecurity Concerns in Emerging Technologies”</a></td>
        </tr>
        <tr>
          <td>22-01-2024</td>
          <td>26-01-2024</td>
          <td><a href="#" class="program-link">“विज्ञान के शिक्षण और अधिगम के लिए ई-सामग्री का विकास” पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>15-01-2024</td>
          <td>19-01-2024</td>
          <td><a href="#" class="program-link">Integration of Virtual Labs in Teaching Learning</a></td>
        </tr>
        <tr>
          <td>08-01-2024</td>
          <td>12-01-2024</td>
          <td><a href="#" class="program-link">"शैक्षिक प्रौद्योगिकी में उभरते रुझान" पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>01-01-2024</td>
          <td>05-01-2024</td>
          <td><a href="#" class="program-link">Online Training on “Cyber Hygiene”</a></td>
        </tr>
        <tr>
          <td>25-12-2023</td>
          <td>29-12-2023</td>
          <td><a href="#" class="program-link">"ई-सामग्री का विकास: इंटरैक्टिव संसाधन" पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>11-12-2023</td>
          <td>15-12-2023</td>
          <td><a href="#" class="program-link">दीक्षा पर वर्चुअल लैब का शिक्षाशास्त्रीय परिप्रेक्ष्य" पर ऑनलाइन प्रशिक्षण</a></td>
        </tr>
        <tr>
          <td>04-12-2023</td>
          <td>08-12-2023</td>
          <td><a href="#" class="program-link">Online Training on Cyber Parenting</a></td>
        </tr>
        <tr>
          <td>20-11-2023</td>
          <td>24-11-2023</td>
          <td><a href="#" class="program-link">ऑनलाइन प्रशिक्षण "ई-सामग्री के विकास हेतु ऑनलाइन प्रशिक्षण: ऑडियो संसाधन"</a></td>
        </tr>
        <tr>
          <td>06-11-2023</td>
          <td>10-11-2023</td>
          <td><a href="#" class="program-link">ऑनलाइन प्रशिक्षण "स्कूल और शिक्षक शिक्षा हेतु डिजिटल प्रौद्योगिकी द्वारा लाभार्जन करें”</a></td>
        </tr>
        <tr>
          <td>30-10-2023</td>
          <td>03-11-2023</td>
          <td><a href="#" class="program-link">Online Training on “Social Media and Cybersecurity”</a></td>
        </tr>
        <tr>
          <td>16-10-2023</td>
          <td>20-10-2023</td>
          <td><a href="#" class="program-link">Online Training on “Development of eContent: Video Resources”</a></td>
        </tr>
        <tr>
          <td>09-10-2023</td>
          <td>13-10-2023</td>
          <td><a href="#" class="program-link">Online Training on “Digital Technology for Children With Special Needs”</a></td>
        </tr>
        <tr>
          <td>02-10-2023</td>
          <td>06-10-2023</td>
          <td><a href="#" class="program-link">Online Training on “Digital Wellness”</a></td>
        </tr>
        <tr>
          <td>25-09-2023</td>
          <td>29-09-2023</td>
          <td><a href="#" class="program-link">Online Training on “Developing eContent for Teaching and Learning of Science”</a></td>
        </tr>
        <tr>
          <td>11-09-2023</td>
          <td>15-09-2023</td>
          <td><a href="#" class="program-link">Online Training on “Blended Learning”</a></td>
        </tr>
        <tr>
          <td>21-08-2023</td>
          <td>25-08-2023</td>
          <td><a href="#" class="program-link">Online Training on “Developing eContent for Teaching and Learning of Mathematics”</a></td>
        </tr>
        <tr>
          <td>07-08-2023</td>
          <td>11-08-2023</td>
          <td><a href="#" class="program-link">Online Training on “Leveraging Digital Technology for School and Teacher Education”</a></td>
        </tr>
        <tr>
          <td>31-07-2023</td>
          <td>04-08-2023</td>
          <td><a href="#" class="program-link">Online Training on “Online Financial Security”</a></td>
        </tr>
        <tr>
          <td>24-07-2023</td>
          <td>28-07-2023</td>
          <td><a href="#" class="program-link">Online Training on “Development of eContent: Interactive Resources”</a></td>
        </tr>
        <tr>
          <td>10-07-2023</td>
          <td>14-07-2023</td>
          <td><a href="#" class="program-link">Online Training on “Pedagogical Perspective of Virtual Labs on DIKSHA”</a></td>
        </tr>
        <tr>
          <td>03-07-2023</td>
          <td>07-07-2023</td>
          <td><a href="#" class="program-link">Online Training on "Safe Online Communication"</a></td>
        </tr>
        <tr>
          <td>26-06-2023</td>
          <td>30-06-2023</td>
          <td><a href="#" class="program-link">Online Training on "Development of eContent: Audio Resources"</a></td>
        </tr>
        <tr>
          <td>12-06-2023</td>
          <td>16-06-2023</td>
          <td><a href="#" class="program-link">Online Training on "Emerging Trends in Educational Technology"</a></td>
        </tr>
        <tr>
          <td>05-06-2023</td>
          <td>09-06-2023</td>
          <td><a href="#" class="program-link">Safety and Security in Digital Space</a></td>
        </tr>
        <tr>
          <td>27-03-2023</td>
          <td>31-03-2023</td>
          <td><a href="#" class="program-link">Digital Infrastructure for Knowledge Sharing - DIKSHA</a></td>
        </tr>
        <tr>
          <td>01-03-2023</td>
          <td>24-03-2023</td>
          <td><a href="#" class="program-link">Theme for March, 2023 - Ethics in Emerging Digital Space</a></td>
        </tr>
        <tr>
          <td>20-02-2023</td>
          <td>24-02-2023</td>
          <td><a href="#" class="program-link">Online Training on Media Literacy</a></td>
        </tr>
        <tr>
          <td>13th February 2023</td>
          <td>17th February 2023</td>
          <td><a href="#" class="program-link">Online Training on Virtual Labs for Self paced & Classroom Teaching-Learning</a></td>
        </tr>
        <tr>
          <td>1st February 2023</td>
          <td>17th February 2023</td>
          <td><a href="#" class="program-link">Theme for February, 2023 - Combating Cybercrimes</a></td>
        </tr>
        <tr>
          <td>23-01-2023</td>
          <td>27-01-2023</td>
          <td><a href="#" class="program-link">Learning Management System (LMS) to enhance Teaching-Learning Process</a></td>
        </tr>
        <tr>
          <td>04-01-2023</td>
          <td>20-01-2023</td>
          <td><a href="#" class="program-link">Theme for January, 2023 - New Emerging Technologies: Threats and Opportunities</a></td>
        </tr>
        <tbody>
          <tr>
            <td>26th September 2022</td>
            <td>30th September 2022</td>
            <td><a href="#" class="program-link">Virtual Labs for Teaching, Learning and Assessment</a> </td>
          </tr>
          <tr>
            <td>02nd September 2022</td>
            <td>23rd September 2022</td>
            <td><a href="#" class="program-link">Cyber Jaagrookta Diwas Series Theme for September, 2022: Being Safe and Responsible Digital Citizen</a></td>
          </tr>
          <tr>
            <td>22th August 2022</td>
            <td>26th August 2022</td>
            <td><a href="#" class="program-link">Multimedia Resources for Teaching, Learning and Assessment</a> </td>
          </tr>
          <tr>
            <td>03th August 2022</td>
            <td>19th August 2022</td>
            <td><a href="#" class="program-link">Cyber Jaagrookta Diwas Series Theme for August, 2022: Safe Digital Gaming</a></td>
          </tr>
          <tr>
            <td>25th July 2022</td>
            <td>29th July 2022</td>
            <td><a href="#" class="program-link">Online Training on "Digital Pedagogy"</a> </td>
          </tr>
          <tr>
            <td>01st July 2022</td>
            <td>22th July 2022</td>
            <td><a href="#" class="program-link">Cyber Jaagrookta Diwas Series Theme for July, 2022: Stay Safe in Cyber World</a></td>
          </tr>
          <tr>
            <td>20th June 2022</td>
            <td>24th June 2022</td>
            <td><a href="#" class="program-link">Online Training on "Game Based Learning"</a> </td>
          </tr>
          <tr>
            <td>01st June 2022</td>
            <td>17th June 2022</td>
            <td><a href="#" class="program-link">Cyber Jaagrookta Diwas Series: Financial Safety in CyberSpace</a></td>
          </tr>
          <tr>
            <td>23rd May 2022</td>
            <td>27th May 2022</td>
            <td><a href="#" class="program-link">Digital Tools for Teaching, Learning and Assessment of Specific Subjects</a> </td>
          </tr>
          <tr>
            <td>4th May 2022</td>
            <td>20th May 2022</td>
            <td><a href="#" class="program-link">Cyber Jaagrookta Diwas: Social Engineering Attacks</a></td>
          </tr>
          <tr>
            <td>25th April 2022</td>
            <td>29th April 2022</td>
            <td><a href="#" class="program-link">Online Training on "Open Educational Resources (OER) and Licenses"</a> </td>
          </tr>
          <tr>
            <td>6th April 2022</td>
            <td>22nd April 2022</td>
            <td><a href="#" class="program-link">Mental and Emotional Wellbeing in the Era of Cyberspace</a> </td>
          </tr>
          <tr>
            <td>21st March 2022</td>
            <td>25th March 2022</td>
            <td><a href="#" class="program-link"> Online Training on DIGITAL Infrastructure for SCHOOL Education - DIKSHA</a></td>
          </tr>
          <tr>
            <td>21 February 2022</td>
            <td>25 February 2022</td>
            <td><a href="#" class="program-link">Online Training on "SOCIAL Media for Education"</a> </td>
          </tr>
          <tr>
            <td>05 December 2021</td>
            <td>28 February 2022</td>
            <td><a href="#" class="program-link"> Online Course on "Cyber Hygiene Practices"</a></td>
          </tr>
          <tr>
            <td>08 February 2022</td>
            <td>-</td>
            <td><a href="#" class="program-link">"Online Training on Safer Internet Day"</a></td>
          </tr>
          <tr>
            <td>05 January 2022</td>
            <td>31 January 2022</td>
            <td><a href="#" class="program-link">Webinar on "Cyber Parenting(Activity as part of Cyber Jaagrookta Diwas)"</a></td>
          </tr>
          <tr>
            <td>24 January 2022</td>
            <td>28 January 2022</td>
            <td><a href="#" class="program-link">Online Training on "Teaching Learning through Learning Management System (LMS)"</a> </td>
          </tr>
          <tr>
            <td>27 December 2021</td>
            <td>31 December 2021</td>
            <td><a href="#" class="program-link"> Online Training on "Virtual Labs for Teaching and Learning"</a></td>
          </tr>
          <tr>
            <td>01 December 2021</td>
            <td>31 December 2021</td>
            <td><a href="#" class="program-link">Quiz on "Cyber Hygiene Practices"</a> </td>
          </tr>
          <tr>
            <td>01 December 2021</td>
            <td>05 December 2021</td>
            <td><a href="#" class="program-link">Webinar on "Cyber Hygiene Practices(Cyber Jaagrookta Diwas Series)</a></td>
          </tr>
          <tr>
            <td>23 November 2021</td>
            <td>26 November 2021</td>
            <td><a href="#" class="program-link"> Online Training on "Innovative Pedagogies for Digital Education"</a></td>
          </tr>
          <tr>
            <td>06 October 2021</td>
            <td>30 November 2021</td>
            <td><a href="#" class="program-link"> Social Engineering Attacks and Security Quiz</a></td>
          </tr>
          <tr>
            <td>03 November 2021</td>
            <td>30 November 2021</td>
            <td><a href="#" class="program-link"> Event: Cyber Jaagrookta Diwas - Cyber Clubs</a></td>
          </tr>
          <tr>
            <td>25 October 2021</td>
            <td>29 October 2021</td>
            <td><a href="#" class="program-link"> Online Training on "Stay Safe in the Cyber World"</a></td>
          </tr>
          <tr>
            <td>20 September 2021</td>
            <td>24 September 2021</td>
            <td><a href="#" class="program-link">Artificial Intelligence (AI) for Education</a> </td>
          </tr>
          <tr>
            <td>9 August 2021</td>
            <td>13 August 2021</td>
            <td><a href="#" class="program-link">Use and Integration of Technology</a> </td>
          </tr>
          <tr>
            <td>5 July 2021</td>
            <td>16 July 2021</td>
            <td><a href="#" class="program-link">Workshop on Developing Digital Game based eContent</a> </td>
          </tr>
          <tr>
            <td>7 March 2021</td>
            <td>16 March 2021</td>
            <td><a href="#" class="program-link">eContent workshop Phase 2</a> </td>
          </tr>
          <tr>
            <td>21 February 2021</td>
            <td>2 March 2021</td>
            <td><a href="#" class="program-link">eContent workshop Phase 1</a> </td>
          </tr>
       
        
      </tbody>
    </table>
  </div>

  {% include "partials/footer.html" %}

</body>
</html>